<div class="row">
	<div class="col-lg-8 mx-auto">
        <div class="frame">
            <%= link_to admin_path do %> 
                <i class="material-icons">
                arrow_back
                </i>
            <% end %>
            <h1 style="text-align:center;">Perguntas</h1>
            <% @questions.each do |question| %>
                <div><strong><%= question.question %></strong></div>

                <% question.answers.order("answer DESC").each do |answer| %>
                    <% if answer.present? && answer.answer =="sim" %>
                        <span class="badge badge-success">Sim</span>
                    <% end %>
                    <% if answer.present? && answer.answer =="nao" %>
                        <span class="badge badge-danger">Não</span>
                    <% end %>
                    <% if answer.present? && answer.answer =="talvez" %>
                        <span class="badge badge-info">Talvez</span>
                    <% end %>
                    <%= answer.participant.name %> <%= answer.participant.lastname %><br>
                <% end %><br><br>
            <% end %>

            
            
            <br>
                <%= link_to "Nova Pergunta", new_eventosbahai_question_path(Eventosbahai.find(params[:eventosbahai_id])) %>
        </div>
    </div>
</div>