<%= form_for [participant, itinerary],  html: {class: 'mx-auto w-100'} do |f| %>

        <div class="form-group" style="display: block; width: 100%;">
            <%= f.label "Transporte" %>
            <%= f.select :transportation, Itinerary.transportations.keys.to_a, {  :include_blank => "Transporte..." },{class: 'form-control', required: true } %>
        </div>

        <div id="company_group" class="form-group">
            <%= f.label "Empresa" %>
            <%= f.text_field :company, class: 'form-control', placeholder:'ex: Latam' %>
        </div>

        <div id="flight_number_group" class="form-group">
            <%= f.label "Número do Voô" %>
            <%= f.text_field :flight_number, class: 'form-control', placeholder:'ex: NSFTDA' %>
        </div>
    
        <div id="departure_group" class="form-group">
            <%= f.label "Data/Hora de Saída" %><br>
            <%= f.datetime_select :departure, { :order => [:day, :month, :year]},
                {:class=>'form-control', :style=>'display:inline-block; width:auto'} %>
        </div>

        <div id="arrival_group" class="form-group">
            <%= f.label "Data/Hora de Chegada" %><br>
            <%= f.datetime_select :arrival, { :order => [:day, :month, :year]},
                {:class=>'form-control', :style=>'display:inline-block; width:auto'} %>
        </div>

        <div class="actions">
            <%= f.submit "Salvar Itinerário", id:'submit_itinerary', class: 'btn btn-success center-block' %>
        </div>
<% end %>

<script>
	$("#company_group").hide();
	$("#flight_number_group").hide();
	$("#departure_group").hide();
	$("#arrival_group").hide();

	$("#itinerary_transportation").change(function(){
		var transportation = $(this).val();
	    itinerary(transportation);
	});

	$(document).ready(function() {
        itinerary($("#itinerary_transportation").val());
	});

	function itinerary (transportation) {
		if(transportation=="") {
			$("#company_group").hide();
			$("#flight_number_group").hide();
			$("#departure_group").hide();
			$("#arrival_group").hide();

		}

		if(transportation=="carro") {
			$("#arrival_group").show();
			$("#company_group").hide();
			$("#flight_number_group").hide();
			$("#departure_group").hide();
			
			$("#itinerary_departure_3i").focus();

			$("#itinerary_company").prop("required", false);
			$("#itinerary_flight_number").prop("required", false);


		}

		if(transportation=="ônibus") {
			$("#company_group").show();
			$("#departure_group").show();
			$("#arrival_group").show();

			$("#flight_number_group").hide();

			$("#itinerary_company").prop("required", true);
			$("#itinerary_flight_number").prop("required", false);

			
			
			$("#itinerary_company").focus();
			$("#itinerary_company").prop("placeholder","ex: Motta");

		}

		if(transportation=="avião") {
			$("#company_group").show();
			$("#flight_number_group").show();
			$("#departure_group").show();
			$("#arrival_group").show();

			$("#itinerary_company").prop("required", true);
			$("#itinerary_flight_number").prop("required", true);

			$("#itinerary_company").focus();
			$("#itinerary_company").prop("placeholder","ex: Latam");
		}
	}
</script>