<%= form_for(eventosbahai) do |f| %>
  <% if eventosbahai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eventosbahai.errors.count, "error") %> prohibited this eventosbahai from being saved:</h2>

      <ul>
      <% eventosbahai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nome" %>
    <%= f.text_field :name, class: 'form-control', placeholder:'ex: Conferência de Unidade do Centro-Oeste', required: true %>
  </div>

  <div class="form-group">
    <%= f.label "Data de Início" %><br>
    <%= f.date_select :start_at, { :order => [:day, :month, :year]},
      {:class=>'form-control', :style=>'display:inline-block; width:30%'} %>
  </div>

 
    <div class="form-group">
      <%= f.label "Data de término" %><br>
      <%= f.date_select :end_at, {:order => [:day, :month, :year]}, {:class=>'form-control date-select', :style=>'display:inline-block; width:30%'} %>
    </div>
  

  <div class="form-group">
    <%= f.label "Cidade" %>
    <%= f.text_field :city, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label "Estado" %>
    <%= f.select :state, 
      [['Acre','AC'],
       ['Alagoas','AL'],
       ['Amapá','AP'],
       ['Amazonas','AM'],
       ['Bahia','BA'],
       ['Ceará','CE'],
       ['Distrito Federal','DF'],
       ['Espírito Santo','ES'],
       ['Goiás','GO'],
       ['Maranhão','MA'],
       ['Mato Grosso','MT'],
       ['Mato Grosso do Sul','MS'],
       ['Minas Gerais','MG'],
       ['Pará','PA'],
       ['Paraíba','PB'],
       ['Paraná','PR'],
       ['Pernambuco','PE'],
       ['Piauí','PI'],
       ['Rio de Janeiro','RJ'],
       ['Rio Grande do Norte','RN'],
       ['Rio Grande do Sul','RS'],
       ['Rondônia','RO'],
       ['Roraima','RR'],
       ['Santa Catarina','SC'],
       ['São Paulo','SP'],
       ['Sergipe','SE'],
       ['Tocantins','TO']],
       { prompt: "Selecione um Estado" }, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label "Endereço do Evento" %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Tema" %>
    <%= f.text_field :theme, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Descrição" %>
    <%= f.text_area :description, :col => 20, :rols => 40, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Detalhes de pagamento" %>
    <%= f.text_area :payment, :col => 20, :rols => 40, class:'form-control', as: :wysihtml5 %>
  </div>

  <div class="form-group">
    <%= f.label "Valor da Inscrição" %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Número de Vagas" %>
    <%= f.number_field :vacancies, min:0, max:5000, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label "Imagem de Anúncio" %>
    <%= f.file_field :image, accept: "image/jpeg, image/jpg, image/gif, image/png", :class=> "form-control" %>
   </div>

  
  <div class="form-group">
    <p><%= f.check_box :sendemail, :checked=>true %> Ativar E-mail automático com todas as informações para os participantes inscritos? 
    </p>
  </div>



  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-info center-block' %>
  </div>
<% end %>
