<div id="section1" class="container">
  <h1>Eventos Bahá'ís</h1>


  <table>
    <tbody>
      <% @eventosbahais.each do |eventosbahai| %>
        <tr>
          <td><%= link_to eventosbahai.name, partnew_path(eventosbahai), anchor: "section1" %>
          

          <% if admin? && eventosbahai.user_id == current_user.id %>  -  
            <%= link_to 'Editar', edit_eventosbahai_path(eventosbahai) %> |
            <%= link_to 'Destruir', eventosbahai_path(eventosbahai), method: :delete, data:{confirm: 'Deletar um evento irá deletar todos os participantes inscritos também. Deseja deletar mesmo assim?'} %> 
          <%end %>

        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <% if admin? %>
    <ul class="list-inline">
     <li><%= link_to "Criar Evento", new_eventosbahai_path, class:'btn btn-success' %></li>
     <li><%= link_to "Ver todos os participantes", participants_path, class:'btn btn-warning' %></li>
    </ul>
  <%end %>

</div>

<script>
  

  slide("#section1")



</script>