<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eventosbahai.name %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @eventosbahai.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @eventosbahai.end_at %>
</p>

<p>
  <strong>City:</strong>
  <%= @eventosbahai.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @eventosbahai.state %>
</p>

<p>
  <strong>Location:</strong>
  <%= @eventosbahai.location %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @eventosbahai.theme %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eventosbahai.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @eventosbahai.price %>
</p>

<p>
  <strong>Vacancies:</strong>
  <%= @eventosbahai.vacancies %>
</p>

<%= link_to 'Edit', edit_eventosbahai_path(@eventosbahai) %> |
<%= link_to 'Back', eventosbahais_path %>
