<%= form_for :session, url: signin_path do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password, autocomplete: "off" %>
	</div>
	<div class="actions">
		<%= f.submit "Entrar" %>
	</div>
	<p>Novo aqui? <%= link_to "Junte-se a nós.", new_user_path %></p>
	<% end %>

