

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <span class="text-danger text-center">
      <%= render "devise/shared/error_messages", resource: resource %>
    </span>

    <div class="alert alert-primary">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:"form-control user_email" %>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>
        </div>
      </div>
    </div>

    <%= f.fields_for :user_profile_attributes do |profile| %>
      <div class="row">
        <div class="form-group col-6 mr-0 pr-0" style="width: 100%;">
            <%= profile.label 'Nome' %>
            <%= profile.text_field :name, :class=>'form-control m-0', required: true %>
        </div>
        <div class="form-group col-6 ml-0" style="width: 100%;">
            <%= profile.label 'Sobrenome' %>
            <%= profile.text_field :lastname, :class=>'form-control m-0', required: true %>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= profile.label 'Celular' %>
                <%= profile.text_field :phone, :class=>'form-control', :placeholder => "Ex: 61 99998 8888", required: true %>
            </div>
        </div>
        <div class="form-group col-md-6">
            <%= profile.label 'Cidade' %>
            <%= profile.text_field :city, :class=>'form-control', required: true %>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <%= profile.label 'Estado' %>
                <%= profile.select :state, 
                [['Acre','AC'],
                ['Alagoas','AL'],
                ['Amapá','AP'],
                ['Amazonas','AM'],
                ['Bahia','BA'],
                ['Ceará','CE'],
                ['Distrito Federal','DF'],
                ['Espírito Santo','ES'],
                ['Goiás','GO'],
                ['Maranhão','MA'],
                ['Mato Grosso','MT'],
                ['Mato Grosso do Sul','MS'],
                ['Minas Gerais','MG'],
                ['Pará','PA'],
                ['Paraíba','PB'],
                ['Paraná','PR'],
                ['Pernambuco','PE'],
                ['Piauí','PI'],
                ['Rio de Janeiro','RJ'],
                ['Rio Grande do Norte','RN'],
                ['Rio Grande do Sul','RS'],
                ['Rondônia','RO'],
                ['Roraima','RR'],
                ['Santa Catarina','SC'],
                ['São Paulo','SP'],
                ['Sergipe','SE'],
                ['Tocantins','TO']],
                { prompt: "Selecione um Estado" }, class: 'form-control', required: true %>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
        <%= profile.label 'Região' %>
        <%= profile.select(:administrative_region_id, AdministrativeRegion.all.collect {|function| [function.name, function.id]},{prompt:'Selecione uma Região'}, {class: 'form-control'}) %>
    </div>
    <% end %>
    </div>

    <%= hidden_field_tag :eventosbahai_id, @eventosbahai_id %>
    
    <div class="actions text-center">
      <%= f.submit "Cadastrar", class: "btn btn-success" %>
    </div>
  <% end %>


  <script>
    $(document).ready(function (){
      $("#click_login_message").hide();
    })
    

    $('#loginModal').on('shown.bs.modal', function () {
      $('#user_password').focus()
    })

    function makeRequest () {
      let value = $(".user_email").val();
      $.ajax({
          type: "POST",// GET in place of POST
          contentType: "application/json; charset=utf-8",
          url: "/check_email",
          data : JSON.stringify({email: value}),
          dataType: "json",
          success: function (result) {
            console.log(result.status)
            if(result.status === "200") {
              console.log(result);
              $('#loginModal').modal('show');
              $("#click_login_message").show();
              $('.devise_email').val(value);
              $('#loginModal').find('.devise_email').focus();
            } else {
              $("#click_login_message").hide();
              $('#loginModal').modal({ show: false});
            }
          },
          error: function (){
            $('#loginModal').modal({ show: false});
            $("#click_login_message").hide();
          }
       });
    }

    $("#click_login").on('click', function (){
      makeRequest();
    })

    $(".user_email").focusout(function(e) {
      e.preventDefault();
      makeRequest();
    });
</script>