<div class="container" style="margin-bottom:20px;">
  <h1>Agrupamento</h1><br>



  <h5>Qual é seu agrupamento?</h5>
  <%= bootstrap_form_for @cluster, url:{controller: "clusters" } do |f| %>

    <%= f.text_field :name, :label => "Agrupamento" %>
    <div class="form-group">
      <%= f.text_field :city, class: 'form-control', :label => "Cidade" %>
    </div>

    <div class="form-group">
      <%= f.select :state,
                   [['-',nil],
                    ['Acre', 'AC'],
                    ['Alagoas', 'AL'],
                    ['Amapá', 'AP'],
                    ['Amazonas', 'AM'],
                    ['Bahia', 'BA'],
                    ['Ceará', 'CE'],
                    ['Distrito Federal', 'DF'],
                    ['Espírito Santo', 'ES'],
                    ['Goiás', 'GO'],
                    ['Maranhão', 'MA'],
                    ['Mato Grosso', 'MT'],
                    ['Mato Grosso do Sul', 'MS'],
                    ['Minas Gerais', 'MG'],
                    ['Pará', 'PA'],
                    ['Paraíba', 'PB'],
                    ['Paraná', 'PR'],
                    ['Pernambuco', 'PE'],
                    ['Piauí', 'PI'],
                    ['Rio de Janeiro', 'RJ'],
                    ['Rio Grande do Norte', 'RN'],
                    ['Rio Grande do Sul', 'RS'],
                    ['Rondônia', 'RO'],
                    ['Roraima', 'RR'],
                    ['Santa Catarina', 'SC'],
                    ['São Paulo', 'SP'],
                    ['Sergipe', 'SE'],
                    ['Tocantins', 'TO']],
                   {prompt: "Selecione um Estado"}, class: 'form-control', :label => "Estado"%>
    </div>

    <div style="text-align:center">
      <%= f.submit "Salvar", class:"btn btn-info", style:"margin:0 auto" %>

    </div>

  <% end %>
</div>