<!DOCTYPE html>
<html>
	<head>
		<meta control = 'text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:14px;font-weight:normal;line-height:1.5;margin:0;margin-bottom:15px;">
		<div style="border-radius:9px; padding:2em; margin: 2em; margin-top:2em; background-color: white;">
				Olá <%= @participant.name %> <%= @participant.lastname %>,
				
				<br><br>
				Obrigado por se registrar.<br>
				Abaixo estão as informações sobre a data e o local da <%= @eventosbahai.name %> que ocorrerá em <%= @eventosbahai.city %> - <%= @eventosbahai.state %>.<br><br>


				Data de Início: <b><%= @start_at %></b><br>
				Data de Término: <b><%= @end_at %></b><br>
				Cidade: <b><%= "#{@eventosbahai.city} - #{@eventosbahai.state}" %></b><br>
				<% unless @eventosbahai.location.blank? %>
					Local: <b><%= @eventosbahai.location %></b><br><br>
				<% end %>	
				Para acessar sua conta, clique no link abaixo, entre com seu E-mail e senha, e clique em "Minha Inscrição":<br>
				<a href="http://www.jambo.ninja/">http://www.jambo.ninja/</a>



						
				<br>

				<% unless @eventosbahai.description.nil? %>
					<p><%= @eventosbahai.description %></p> <br>
				<% end %>

				<br><br>Qualquer dúvida responda a este E-mail,<br><br>
					Atenciosamente,<br>
					Secretaria Nacional

		</div>
	</body>
</html>
			
