<%= form_for(participant) do |f| %>
  <% if participant.errors.any? %>
    <% participant.errors.full_messages.each do |message| %>
      <li><%= message %>
      <% end %>
  <% end %>
  
   <div class="row">
      
      <div class="form-group col-md-6">
        
          <%= f.label 'Nome' %>
          <%= f.text_field :name, :class=>'form-control', required: true %>
        </div>
        <div class="form-group col-md-6">
          
          <%= f.label 'Sobrenome' %>
          <%= f.text_field :lastname, :class=>'form-control', required: true %>
       
        </div>
    </div>
     

    <div class="form-group">
      <%= f.label 'E-mail ou Celular' %>
      <%= f.text_field :contact, :class=>'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label 'Aniversário' %><br>
      <%= f.date_select :birthday, 
        {:order => 
        [:day, :month, :year], 
        :prompt => {:day => "Dia", 
        :month => "Mês", 
        :year => "Ano"}, 
        :start_year => Time.now.year - 90, 
        :end_year => Time.now.year - 1}, 
        {:class=>'form-control', :style=>'display:inline-block; width:30%'}%>
    </div>

    <div class="form-group">
      <%= f.label 'Endereço' %>
      <%= f.text_field :address, :class=>'form-control' %>
    </div>


    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label 'Cidade' %>
        <%= f.text_field :city, :class=>'form-control', required: true %>
      </div>

    <div class="form-group col-md-6">
      <%= f.label 'Estado' %>
      <%= f.select :state, 
        [['Acre','AC'],
         ['Alagoas','AL'],
         ['Amapá','AP'],
         ['Amazonas','AM'],
         ['Bahia','BA'],
         ['Ceará','CE'],
         ['Distrito Federal','DF'],
         ['Espírito Santo','ES'],
         ['Goiás','GO'],
         ['Maranhão','MA'],
         ['Mato Grosso','MT'],
         ['Mato Grosso do Sul','MS'],
         ['Minas Gerais','MG'],
         ['Pará','PA'],
         ['Paraíba','PB'],
         ['Paraná','PR'],
         ['Pernambuco','PE'],
         ['Piauí','PI'],
         ['Rio de Janeiro','RJ'],
         ['Rio Grande do Norte','RN'],
         ['Rio Grande do Sul','RS'],
         ['Rondônia','RO'],
         ['Roraima','RR'],
         ['Santa Catarina','SC'],
         ['São Paulo','SP'],
         ['Sergipe','SE'],
         ['Tocantins','TO']],
         { prompt: "Selecione um Estado" }, class: 'form-control', required: true %>
       </div>
     </div>

    <div class="field form-group">
      <%= f.label "Escolha uma forma de pagamento:" %><br/>
    <ul>
    <li><%= f.radio_button :autolyse, 1, :required => true %>
      <%= f.label :autolyse, "Pagamento em 2 parcelas (1º até 30 de abril, 2º até 20 de maio)", :value => "1", :style=>'font-weight: normal;' %></li>
    <li> <%= f.radio_button :autolyse, 2 %>
       <%= f.label :autolyse, "Parcela única (até 20 de maio)", :style=>'font-weight: normal;' %></li>

    <li> <%= f.radio_button :autolyse, 3 %>
      <%= f.label :autolyse, "Tenho menos de 12 anos", :style => 'font-weight: normal;' %></li>
    </ul>
    </div>

     <div class="field">
      <p><%= f.check_box :publist, :checked=>true %> Deseja aparecer na lista de inscritos nesta página?
      </p>
    </div>
  

    <%= f.hidden_field :eventosbahai_id, :value => params[:id] %>
    <br>
    <div class="actions">
      <%= f.submit "Inscrever", class:'btn btn-lg btn-success center-block' %>
    </div>

  </div>
<% end %>
