<%= form_for(participant, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if participant.errors.any? %>
    <% participant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  <% end %>

  <%= f.hidden_field :eventosbahai_id, :value => params[:id] %>

  <div class="form-group">
    <%= label_tag "Nome Completo" %>
    <%= text_field_tag :fullname, nil, class:'form-control', required: true %>
  </div>

  <% if @event.administrative_function %>
    <div class="form-group">
      <%= label_tag "Função Administrativa" %>
      <%= select_tag :administrative_function_ref, options_from_collection_for_select(AdministrativeFunction.all, "id", "name"), prompt: "Escolha uma função", class:'form-control' %>
    </div>
  <% end %>

    <% @questions.each do |question| %>
      <div class="form-group">
        <%= label_tag question.question %><br>
        <%= label_tag "Sim" %>
        <%= radio_button_tag "question_#{question.id}", "yes" %>
        <%= label_tag "Não" %>
        <%= radio_button_tag "question_#{question.id}", "no" %>
        <%= label_tag "Talvez" %>
        <%= radio_button_tag "question_#{question.id}", "maybe" %>
      </div>
    <% end %>
  

  <div style="text-align: center;">
      <%= f.submit "Confirmar Cadastro", class:'btn btn-success' %>  
  </div>
<% end %>
