<div id="confirmation"></div>
<div id="section1" class="container pt-5" style="margin-bottom:200px; border:0px;">

	<% if params[:error] %>

		<h1>Ops!</h1>
		<p>Desculpe, algo deu errado, você poderia voltar e tentar preencher novamente? Verifique se todos os campos foram preenchidos.
			Caso continue tendo problemas, entre em contato conosco.</p>

			<%= link_to "Voltar", partnew_path(params[:evid]) %>

	<% else %>

		<% if @sendemail == "1" && @emailveracity %>
		<div class="text-center mx-auto">
			<div class="frame">

				<div class="vertical-align">
					<%= image_tag "emailsent.png" %>
				</div>
		

				<h1 class="text-center">Obrigado <%= @participant.name %>!</h1>

				<div class="row">
					<div class="col-12 text-center vertical-align">
						<p>Ficamos felizes com sua participação, enviamos um E-mail para <strong><%= @participant.email %></strong> com as principais informações.</p>
						
					</div>
				</div>
			</div>
			<div class="frame">
				<div class="row">
					<div class="col-12 vertical-align">
						<%= image_tag "il_readyToGo.png", class:"text-center", height: 250, width: "auto" %>
					</div>
				</div>
				<div class="row mx-auto">
					<div class="col-12">

						<p>Se já tiver um itinerário, por favor preencha os campos abaixo:</p>
						<%= render 'itineraries/form', participant: @participant, itinerary: @itinerary %>
					</div>
				</div>

			</div>
			  

		</div>
		<% else %>

			<h1>Obrigado <%= @participant.name %>!</h1>
			<p>Ficamos felizes com sua participação!</p>

		<% end %>
			<% if @event.share %>
				<div style="text-align:center; padding-top: 100px;" class="center-text">
					<p style="margin-bottom: 10px;">Compartilhe com seus amigos</p>
					<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<div class="addthis_inline_share_toolbox"></div>
					<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad31109692e4b43"></script>
				</div>
			<% end %>
	<% end %>

</div>

<script>
	$("#company_group").hide();
	$("#flight_number_group").hide();
	$("#departure_group").hide();
	$("#arrival_group").hide();

	$("#participant_itinerary_attributes_transportation").change(function(){
		var transportation = $(this).val();
	    itinerary(transportation);
	});

	$(document).ready(function() {

	});

	function itinerary (transportation) {
		if(transportation=="") {
			$("#company_group").hide();
			$("#flight_number_group").hide();
			$("#departure_group").hide();
			$("#arrival_group").hide();

		}

		if(transportation=="carro") {
			$("#arrival_group").show();

			$("#company_group").hide();
			$("#flight_number_group").hide();
			$("#departure_group").hide();
			
			$("#participant_itinerary_attributes_arrival_3i").focus();

			$("#participant_itinerary_attributes_company").prop("required", false);
			$("#participant_itinerary_attributes_flight_number").prop("required", false);


		}

		if(transportation=="ônibus") {
			$("#company_group").show();
			$("#departure_group").show();
			$("#arrival_group").show();

			$("#flight_number_group").hide();

			$("#participant_itinerary_attributes_company").prop("required", true);
			$("#participant_itinerary_attributes_flight_number").prop("required", false);

			
			
			$("#participant_itinerary_attributes_company").focus();
			$("#participant_itinerary_attributes_company").prop("placeholder","ex: Motta");

		}

		if(transportation=="avião") {
			$("#company_group").show();
			$("#flight_number_group").show();
			$("#departure_group").show();
			$("#arrival_group").show();

			$("#participant_itinerary_attributes_company").prop("required", true);
			$("#participant_itinerary_attributes_flight_number").prop("required", true);


			$("#participant_itinerary_attributes_company").focus();
			$("#participant_itinerary_attributes_company").prop("placeholder","ex: Latam");


		}
	}
</script>
