
<div id="confirmation"></div>
<div id="section1" class="container" style="margin-bottom:200px;">

	<% if params[:error] %>

		<h1>Ops!</h1>
		<p>Desculpe, algo deu errado, você poderia voltar e tentar preencher novamente? Verifique se todos os campos foram preenchidos.
			Caso continue tendo problemas, entre em contato conosco.</p>

			<%= link_to "Voltar", partnew_path(params[:evid]) %>

	<% else %>

		<div class="fb-share-button" data-href="http://www.jambo.ninja/" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.jambo.ninja%2F&amp;src=sdkpreparse">Compartilhar</a></div>

		<p class="details">
		Você também pode se cadastrar nesse Site para obter informações de atividades e eventos. Se você ainda não tem uma conta, <%= link_to "clique aqui", new_user_path %> para se cadastrar.
		</p>

		<% if @sendemail == "1" && @emailveracity %>

			<h1>Obrigado <%= @participant.name %></h1>
			<p>Ficamos felizes com sua participação, enviamos um E-mail para <%= @participant.contact %> com as principais informações.</p>

		<% else %>
		
			<h1>Obrigado <%= @participant.name %></h1>
			<p>Ficamos felizes com sua participação!</p>

		<% end %>

	<% end %>

</div>



<script>
	

	slide("#section1");


</script>
