
var number_participants=0;
$('#eventoecerradojs').text('');
$('#eventosbahaijs').text('');
$('#participantsjs').text('');
$('#participantsheadjs').text('');
$('#participants_numberjs').text('');

$('#eventosbahaijs').text("<%= @eventosbahai.name %>");

participantshead = `<tr>
<th scope="col"></th>
<% if @eventosbahai.payment.present? %>
	<th scope="col">Pago</th>
<% end %>
<th scope="col">Nome</th>
<th scope="col">E-mail</th>
<th scope="col">Ag/Instituição</th>
<th scope="col">Cidade</th>

<th scope="col">Transporte</th>
<th scope="col">Empresa</th>
<th scope="col">Nº do Vôo</th>
<th scope="col">Chegada</th>
<th scope="col">Aeroporto Chegada</th>
<th scope="col">Saída</th>
<th scope="col">Aeroporto Saída</th>


<th scope="col">Reg. em</th>
<th scope="col">#</th>
</tr>`;

<% if @eventosbahai.end_at - Date.today < 0 %>
	$('#eventoecerradojs').text('Evento Encerrado');
<% end %>

participants_number = `<%= @eventosbahai.participants.size %> <%= "participante".pluralize(@size) %> <%= "inscrito".pluralize(@size) %>`;

<% if @eventosbahai.participants.size > 0 %>
	$('#participantsheadjs').html(participantshead);
	number_participants =1;
	$('#participants_numberjs').html(participants_number);
<% else %>
	$('#participantsheadjs').text('Nenhum partipante inscrito.');
<% end %>

if (number_participants > 0) {
	<% @eventosbahai.participants.order(:id).each do |f| %>
		<% @itinerary = f.itinerary if f.itinerary.present? %>
		html=`<tr id="participant_<%= f.id %>">
				<th></th>
				<% if @eventosbahai.payment.present? %>
				<td>
					<%= form_tag pay_path, {method: :post, remote:true} do  %>
						<%= hidden_field_tag :participant_id, f.id %>
						<%= submit_tag "✓", class: "btn #{paid(f.paid)}", id:"paidbtn#{f.id}" %>
					<% end %>
					</td>
				<% end %>
				<td><%= link_to "#{f.name} #{f.lastname}", edit_participant_path(f) %></td>
				
				<% if f.phone.present? %>
					<td><%= f.email %></td>
				<% end %>
				<% if f.phone.blank? %>
					<td></td>
				<% end %>
				
				<td><%= f.administrative_function %></td>
				<td><%= f.city %> - <%= f.state %></td>
				
				<td><%= @itinerary.transportation %></td>
				<td><%= @itinerary.company %></td>
				<td><%= @itinerary.flight_number %></td>

				<td><%= @itinerary.arrival.strftime("%d/%m/%Y %H:%M") unless @itinerary.departure.blank? %></td>
				<td><%= @itinerary.airport_arrival %></td>
				<td><%= @itinerary.departure.strftime("%d/%m/%Y %H:%M") unless @itinerary.departure.blank? %></td>
				<td><%= @itinerary.airport_departure %></td>
		
				<% if f.itinerary.blank? %>
					<td></td><td></td><td></td><td></td><td></td>
				<% end %>

				<td><%= f.created_at.strftime("%d/%m/%Y") %></td>
				<td><%= link_to "X", participant_path(f.id), method: :delete, data:{confirm: 'Tem certeza que deseja deletar esse participante?'}, :remote => true, id: "remove_participant_#{f.id}" %></td>`;

		$('#participantsjs').append(html);
	<% end %>
} else {
	//console.log("false");
}
