
var number_participants=0;
$('#eventoecerradojs').text('');
$('#eventosbahaijs').text('');
$('#participantsjs').text('');
$('#participantsheadjs').text('');
$('#participants_numberjs').text('');

$('#eventosbahaijs').text("<%= @eventosbahai.name %>");

participantshead = `<tr>
<% if @eventosbahai.payment.present? %>
	<th scope="col">Pago</th>
<% end %>

<% @eventosbahai.questions.each do |question| %>
	<th scope="col"><%= question.question %></th>
<% end %>
<th scope="col">Nome</th>
<th scope="col">E-mail</th>
<th scope="col">Ag/Instituição</th>
<th scope="col">Cidade</th>

<th scope="col">Transporte</th>
<th scope="col">Empresa</th>
<th scope="col">Vôo</th>
<th scope="col">Chegada</th>
<th scope="col">Aer. Chegada</th>
<th scope="col">Saída</th>
<th scope="col">Aer. Saída</th>


<th scope="col">Reg. em</th>
<th scope="col"></th>
</tr>`;

<% if @eventosbahai.end_at - Date.today < 0 %>
	$('#eventoecerradojs').text('Evento Encerrado');
<% end %>

participants_number = `<%= @eventosbahai.participants.size %> <%= "participante".pluralize(@size) %> <%= "inscrito".pluralize(@size) %>`;

<% if @eventosbahai.participants.size > 0 %>
	$('#participantsheadjs').html(participantshead);
	number_participants =1;
	$('#participants_numberjs').html(participants_number);
<% else %>
	$('#participantsheadjs').text('Nenhum partipante inscrito.');
<% end %>

if (number_participants > 0) {
	<% @eventosbahai.participants.order("#{:id} desc").each do |f| %>
		<% @itinerary = f.itinerary if f.itinerary.present? %>
		html=`<tr id="participant_<%= f.id %>">
				<% if @eventosbahai.payment.present? %>
				<td>
					<%= form_tag pay_path, {method: :post, remote:true} do  %>
						<%= hidden_field_tag :participant_id, f.id %>
						<%= submit_tag "✓", class: "btn #{paid(f.paid)}", id:"paidbtn#{f.id}" %>
					<% end %>
					</td>
				<% end %>
					
				<% @eventosbahai.questions.each do |question| %>
					<% answer = f.answers.where(question_id: question.id) %>
					<td>
						<% if answer.present? && answer.first.answer =="sim" %>
							<span class="badge badge-success">Sim</span>
						<% end %>
						<% if answer.present? && answer.first.answer =="não" %>
							<span class="badge badge-danger">Não</span>
						<% end %>
						<% if answer.present? && answer.first.answer =="talvez" %>
							<span class="badge badge-info">Talvez</span>
						<% end %>
					</td>
				<% end %>

                <% unless f.user.user_profile.nil? %>
					<td>
						<% name_show = "#{f.name} #{f.lastname}" %>
						<% name_show = name_show.truncate(40) %>
						<%= link_to "#{name_show}", edit_user_profile_path(f.user.user_profile) %>
					</td>
				<% end %>
					
				<% if f.phone.present? %>
					<td>
						<% email_show = f.email.truncate(25) %>
						<%= link_to email_show, new_admin_mailer_report_path(id: @eventosbahai.id) %>
					</td>
				<% end %>
				<% if f.phone.blank? %>
					<td></td>
				<% end %>
				
				<td><%= f.administrative_function %></td>
				<td><%= f.city %> - <%= f.state %></td>
				
				<% if @itinerary.present? %>
					<td class="text-info">
						<% if @itinerary.transportation.present? %>
							<% if (@itinerary.transportation == "avião") %>
								<i class="material-icons">airplanemode_active</i>
							<% end %>
							<% if (@itinerary.transportation == "ônibus") %>
								<i class="material-icons">directions_bus</i>
							<% end %>
							<% if (@itinerary.transportation == "carro") %>
								<i class="material-icons">directions_car</i>
							<% end %>
						<% end %>
					</td>
					<td><%= @itinerary.company if @itinerary.company.present? %></td>
					<td><%= @itinerary.flight_number if @itinerary.flight_number.present? %></td>
					<td><%= @itinerary.arrival.strftime("%d/%m %H:%M")  if @itinerary.arrival.present? %></td>
					<td><%= @itinerary.airport_arrival if @itinerary.airport_arrival.present? %></td>
					<td><%= @itinerary.departure.strftime("%d/%m %H:%M")  if @itinerary.departure.present? %></td>
					<td><%= @itinerary.airport_departure if @itinerary.airport_departure.present? %></td>
			    <% end %>
				<% if f.itinerary.blank? %>
					<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<% end %>

				<td><%= time_ago_in_words(f.created_at) %></td>
				
				<td>
					<%= link_to participant_path(f.id), method: :delete, data:{confirm: 'Tem certeza que deseja deletar esse participante?'}, :remote => true, id: "remove_participant_#{f.id}", class:"btn btn-danger" do %>
						<i class="material-icons">
							delete_forever
						</i>
					<% end %>
				</td>`;

		$('#participantsjs').append(html);
	<% end %>
} else {
	//console.log("false");
}
