
<div id="section1"></div>

<div  class="container">

	<h1 style="text-align:center;"><%= @evento.name %></h1>
	<h3 style="text-align:center;"><%= @evento.theme %></h3>
	<br>
	

	<% if @evento.image.exists? %>
		<figure class="figure">
			<%= image_tag(@images, class: "img-responsive figure-img img-fluid rounded mx-auto d-block", style: "margin: 0 auto; margin-bottom:10px;") %>
		</figure>
	<% end %>
		


	<ul>
	  <li>De <strong><%= @evento.start_at.strftime('%d-%m-%Y') %>
	  </strong> à <strong><%= @evento.end_at.strftime('%d-%m-%Y') %></strong></li>
	  <li>Cidade: <strong><%= @evento.city %> - <%= @evento.state %></strong></li>
	  <p><%= @evento.description %></p>

	  <% if @event_available %>
	  	   <li>Número de vagas disponíveis: <span class="badge badge-success"><%= @vacancies %></span></li>
		  <li>Taxa de Inscrição: <span class="badge badge-success"><%= number_to_currency(@evento.price, unit: "R$", separator: ",", delimiter: "", format:"%u %n") %></span></li>
		  </ul>
	  <% else %>
	  	<div class="text-center">
	  		<h2><span class="text-danger">Inscrições Encerradas</span><h2>
	  	</div>
	  		
	  <% end %>

		<% if @event_available %>
        <% unless @evento.longitude.nil? || @evento.latitude.nil? %>
          <div id="cardmap'" class="card text-center">
              <div class="card-header">
                <h2>Onde fica?</h2>
              </div>
              <div class="card-body">
                <div class="popin" style="padding:5px; box-shadow: 0 0 5px #999; border-radius:2px; border-ratio:9;">
                  <div id="map"> </div>
                  <%= @evento.location %>, <%= @evento.city %> - <%= @evento.state %>
                </div>
              </div>
              <div class="card-footer" style="text-muted font-size:15px; padding:10px;">

              </div>
            </div>
            <script>
                $(document).ready(function(){

                    var map = new GMaps({
                        el: '#map',
                        center: {lat: <%= @evento.latitude %>, lng:<%= @evento.longitude %>},
                        width: '100%',
                        height: '300px',
                        zoomControl: true,
                    });

                    map.addMarker({
                        lat:<%= @evento.latitude %>,
                        lng:<%= @evento.longitude %>,
                        title: "<%= @evento.location %>",
                        infoWindow: {
                            content: "<h4><%= @evento.name %></h4><%= @evento.location %><br>"
                        },
                        click: function (e) {
                            map.map.panTo(e.position);
                        }
                    })

                    if (typeof google === 'object' && typeof google.maps === 'object') {


                    } else {

                        $("#cardmap").hide();

                    }

                });

                function googleMapsCustomError() {
                    console.log('Google Maps custom error triggered');
                }

                // if you want to respond to a specific error, you may hack the
                // console to intercept messages.
                // check if a message is a Google Map's error message and respond
                // accordingly
                (function takeOverConsole() { // taken from http://tobyho.com/2012/07/27/taking-over-console-log/
                    var console = window.console
                    if (!console) return

                    function intercept(method) {
                        var original = console[method]
                        console[method] = function () {
                            // check message
                            if (arguments[0] && arguments[0].indexOf('OverQuotaMapError') !== -1) {
                                googleMapsCustomError();
                            }

                            if (original.apply) {
                                // Do this for normal browsers
                                original.apply(console, arguments)
                            } else {
                                // Do this for IE
                                var message = Array.prototype.slice.apply(arguments).join(' ')
                                original(message)
                            }
                        }
                    }

                    var methods = ['error']; // only interested in the console.error method
                    for (var i = 0; i < methods.length; i++)
                        intercept(methods[i])
                }())


            	</script>

         <% end %>
    <% end %>
	 
	  
 		<div class="actions text-center">
 			<ul class="list-inline">
 				<% if @event_available %>
	    			<li><%= link_to 'Inscrição', 'javascript:;', class: 'btn btn-lg btn-info', id:'subscribe' %></li>
	    		<% end %>
	    		<% if admin? && correct_user_eventosbahais? %>
	    			<% unless @event_available %>
	    				<p class="text-danger">Administrador, você pode permitir mais inscrições alterando o número de vagas, ou mudando a data de Início do evento<p>
	    			<% end %>

				    <li><%= link_to 'Editar',  edit_eventosbahai_path(params[:id]), class: 'btn btn-warning' %></li>
				    <li><%= link_to 'Todos os eventos', eventosbahais_path, class: 'btn btn-warning' %></li>
	    		<% end %>
	    	</ul>
	    	
	    </div>
		

</div>

<% if @registered.count > 0 %>
	<div class="container">
		<h1 style="text-align:center; margin-bottom:40px;"><%= pluralize(@registered.count,"Amigo") %>
			<%= "Inscrito".pluralize(@registered.count) %></h1>
		<div class="form-row">
			<ul>
				<% @registered.each do |r| %>

					<li><%= r.name %><li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<% unless @evento.payment.nil? || @evento.payment.blank? %>
  <div id="section2" class="container">
    <h1 style="text-align:center; margin-bottom:40px;">Pagamento</h1>
    <div class="form-row">
      <ul>
        <%= simple_format @evento.payment %>
      </ul>
    </div>
  </div>
<% end %>


<% if @event_available %>

	<nav class="navbar navbar-home" >
	  <div style="background:white;o pacity:0.3;" class="parallax-window" data-parallax="scroll" data-image-src='<%= asset_path @image2 %>'>
	     <div class="container-fluid">
	    <div class="row">
	      <div style="margin-top:300px;">
	    <aside class="col-sm-4 col-sm-push-7" style="margin-top:90px; z-index:2;">
	    </aside>
	      </div>

	  </div>
	</div>
	</nav>

	<div id="section3" class="container">
		<h1 style="text-align:center; text-size:100px; margin-bottom: 40px;">Inscrição</h1>
		<div class="form-row">
			<%= render 'form', participant: @participant %>
		</div>
	</div>
	

<% end %>

<script>

		$(document).ready(function(e) {

			slide("#section1");
			
		});

		$("#subscribe").click(function(){
			slide("#section3");
		})


</script>



