
<div class="row">
  <div class="col-6 mx-auto">
    <div class="frame">
      <h1 class="text-center">Minha Inscrição</h1>
        <div class="row">
          <div class="col-6">
            <h3><%= @event.name %></h3>
            <ul>
              <% if @event.theme.present? %>
                <li>Tema: <%= @event.theme %></li>
              <% end %>
              <% if @event.location.present? %>
                <li>Endereço: <%= @event.location %></li>
              <% end %>
              <% if @event.city.present? %>
                <li>Cidade: <%= @event.city %> - <%= @event.state %></li>
              <% end %>
              <% if @event.description.present? %>
                <li>Descrição: <%= @event.description %></li>
              <% end %>
              <% if @event.price.present? %>
                <li>Valor: <%= @event.price %></li>
              <% end %>
            </ul>

            <h3>Meus Dados</h3>
              <ul>
                <% if @participant.fullname.present? %>
                  <li>Nome completo: <%= @participant.fullname %></li>
                <% end %>
                <% if @participant.city.present? %>
                  <li>Cidade: <%= @participant.city %> - <%= @participant.state %></li>
                <% end %>
                <% if @participant.phone.present? %>
                  <li>Celular: <%= @participant.phone %></li>
                <% end %>
                <% if @participant.email.present? %>
                  <li>E-mail: <%= @participant.email %></li>
                <% end %>
              </ul>

            <h3>Itinerário</h3>
              <%= @itinerary.inspect %>
              <ul>
                <% if @participant.fullname.present? %>
                  <li>Nome completo: <%= @participant.fullname %></li>
                <% end %>
                <% if @participant.city.present? %>
                  <li>Cidade: <%= @participant.city %> - <%= @participant.state %></li>
                <% end %>
                <% if @participant.phone.present? %>
                  <li>Celular: <%= @participant.phone %></li>
                <% end %>
                <% if @participant.email.present? %>
                  <li>E-mail: <%= @participant.email %></li>
                <% end %>
              </ul>

          </div>
          <div class="col-6">
            <div class="vertical-align">
             <%= image_tag "il_niceguy.png", height:250, widht:"auto" %>
            </div>
          </div>
        </div>

        <h3></h3>
    </div>
  </div>
</div>

