
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="frame-subscription">
      <h1 class="text-center">Minha Inscrição</h1>
      
        <div class="row">
          <div class="col-9">
            <h3><%= @event.name %></h3>
            <ul>
              <% if @event.theme.present? %>
                <li>Tema: <%= @event.theme %></li>
              <% end %>
              <% if @event.location.present? %>
                <li>Endereço: <%= @event.location %></li>
              <% end %>
              <% if @event.city.present? %>
                <li>Cidade: <%= @event.city %> - <%= @event.state %></li>
              <% end %>
              <% if @event.description.present? %>
                <li>Descrição: <%= @event.description %></li>
              <% end %>
              <% if @event.price.present? %>
                <li>Valor: <%= @event.price %></li>
              <% end %>
            </ul>

            <div class="d-flex flex-row">

              <div class="p-2"><h3>Meus Dados</h3></div>
              
              <div class="p-2 vertical-align"><small class="small"><%= link_to "[Editar]", edit_user_profile_path(@participant.user.user_profile, redirect_to: request.path) %></small></div>

            </div>
              <ul>
                <% if @participant.fullname.present? %>
                  <li><strong><%= @participant.fullname %></strong></li>
                <% end %>
                <% if @participant.city.present? %>
                  <li>Cidade: <%= @participant.city %> - <%= @participant.state %></li>
                <% end %>
                <% if @participant.phone.present? %>
                  <li>Celular: <%= @participant.phone %></li>
                <% end %>
                <% if @participant.email.present? %>
                  <li>E-mail: <%= @participant.email %></li>
                <% end %>
              </ul>

            <div class="d-flex flex-row">

              <div class="p-2"><h3>Itinerário</h3></div>
              
              <div class="p-2 vertical-align"><small class="small"><%= link_to "[Editar]", edit_participant_itinerary_path(@participant, @participant.itinerary) %></small></div>

            </div>

              <% if @itinerary.transportation.present? %>  
                
                <ul>
                  <% if @itinerary.transportation.present? %>
                    <li>Transporte: <%= @itinerary.transportation %></li>
                    <% if (@itinerary.transportation == "avião" || @itinerary.transportation == "ônibus") && @itinerary.company.present? %>
                      <li>Empresa: <%= @itinerary.company %></li>
                    <% end %>
                    <% if @itinerary.transportation == "avião" && @itinerary.flight_number.present? %>
                      <li>Número do Vôo: <%= @itinerary.flight_number %></li>
                    <% end %>
                    <% if @itinerary.arrival.present? %>
                      <li>Chegada ao evento: <%= @itinerary.arrival.strftime("%d-%m %H:%M") %></li>
                    <% end %>
                    <% if @itinerary.transportation == "avião" && @itinerary.airport_arrival.present? %>
                      <li>Aeroporto de chegada: <%= @itinerary.airport_arrival  %></li>
                    <% end %>
                    <% if (@itinerary.transportation == "avião" || @itinerary.transportation == "ônibus") && @itinerary.departure.present? %>
                      <li>Saída do evento: <%= @itinerary.departure.strftime("%d-%m %H:%M")  %></li>
                    <% end %>
                    <% if @itinerary.transportation == "avião" && @itinerary.airport_departure.present? %>
                      <li>Aeroporto de saída: <%= @itinerary.airport_departure  %></li>
                    <% end %>
                  <% end %>
                 
                  
                </ul>
              <% end %>
              <% if @itinerary.transportation.blank? %> 
                 <p class="text-danger">Parece que você ainda não adicionou seu Itinerário. <%= link_to "Adicione aqui", edit_participant_itinerary_path(@participant, @participant.itinerary) %> para completar sua inscrição.</p>
              <% end %>

          </div>

          <div class="col-3">
            <div class="vertical-align">
             <%= image_tag "il_niceguy.png", height:250, widht:"auto" %>
            </div>
            <h3 class="text-center"><%= @participant.pin %></h3>
          </div>
        </div>

        <h3></h3>
    </div>
  </div>
</div>

