<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
		<div class="alert-error text-danger">
			O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
		</div> 
		<ul class="text-danger">
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
	<div class="field form-group">
		<%= f.label :name, "Nome", class:"control-label" %>
		<%= f.text_field :name, class:"form-control", required: true %>
	</div>
	<div class="field form-group">
		<%= f.label :email, "Email", class:"control-label" %>
		<%= f.email_field :email, class:"form-control", required: true %>
	</div>
	<div class="field form-group">
		<%= f.label :password, "Senha", class:"control-label" %>
		<%= f.password_field :password, class:"form-control", required: true %>
	</div>
	<div class="field form-group">
		<%= f.label :password_confirmation, "Confirmação da Senha", class:"control-label" %>
		<%= f.password_field :password_confirmation, class:"form-control", required: true %>
	</div>
	<div style="text-align:center">
		<%= f.submit "Salvar", class:"btn btn-info", style:"margin:0 auto" %>
	</div>
		
	

<% end %>