<div id="section1" class="container">
	<div id="section1">
		<h1><%= @user_name %></h1>

    <% if current_user == @user %>
      <%= @user_email %> - <span class="text-muted">Apenas você pode ver</span>
    <% end %>
    <br>




    <hr>
    <% if current_user == @user %>
      <h2>Complete seu perfil</h2>
    <% end %>


    <% if @clus.nil? %>
      <% if current_user == @user %>
        <%= render :partial => "clusters/new" %>
      <% end %>
    <% else %>

      <% unless @cluster.name.blank? %>
        Agrupamento: <span class="badge badge-pill badge-primary"> <%= @cluster.name %></span>
      <% else %>
        <% if current_user == @user %>
          Agrupamento: <%= @cluster.city %>
          <% unless @cluster.state.blank? %> - <%= @cluster.state %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user == @user %>
        <a data-toggle="collapse" href="#cluster" role="button" aria-expanded="false" aria-controls="collapseExample">
          Editar
        </a> - <span class="text-muted">Para esconder, edite e apage os campos</span>
        <div class="collapse" id="cluster">
          <div class="card card-body">
            <%= render :partial => "clusters/new" %>
          </div>
        </div>

      <% end %>
    <% end %>

    <hr>

    <% if @ruhi.nil? %>
      <% if current_user == @user %>
        <%= render :partial => "ruhibooks/new"  %>
      <% end %>
    <% else %>
      Livros completados
      <%  @ruhibook.name.each do |r| %>
        <span class="badge badge-pill badge-primary"><%= r %></span>
      <% end %>
      <% if current_user == @user %>
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Editar
        </a>  - <span class="text-muted">Para esconder, edite e apage os campos</span>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <%= render :partial => "ruhibooks/new" %>
            </div>
          </div>

      <% end %>
    <% end %>









	</div>
</div>


<script>
	

	slide("#section1");



</script>
