

<%= form_for @jambodoc do |form| %>
  <% if @jambodoc.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h1>

      <ul>
        <% @jambodoc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.text_field :title, class: "form-control form-title", placeholder:"Título", required:true %>
  </div>

  <div class="field">
    <%= form.text_area :text, class: "form-control jambodoc-input-new form-text" %>
  </div>


  <%= hidden_field_tag 'recipient', ''  %>
  <%= hidden_field_tag 'subject', 'subject'  %>
  <%= hidden_field_tag 'message', ''  %>
  <%= hidden_field_tag 'check1', '' %>
  <%= hidden_field_tag 'check2', '' %>



<% end %>



