


<div class="container container-edit rounded-top mt-5">
  <div class="title-box ">

      <div class="row">
        <div class="col-2" style="text-align: left;">
          <%= link_to "◄", jambodoc_path(@jambodoc), class: "btn btn-new" %>
        </div>
        <div class="col-6">
          <span id="title">Editando <%= @jambodoc.title %></span>
        </div>
        <div class="col-4" style="text-align: right;">
          <li class="list-inline-item"><%= link_to "Salvar", "#", class: "btn btn-new float-right", style: "color:#ccc;" %></li>
          <li class="list-inline-item"><%= button_tag "Concluir", id: "save", class: "btn btn-new float-right", form: "edit_jambodoc_#{params[:id]}" %></li>
        </div>
      </div>

  </div>
  <div class="body">

    <%= render partial: 'form' %>

  </div>

  <div class="footer text-right text-muted">
    <small>Salvo</small>
  </div>

</div>

<script>


    // Document Animation
    $('.form-title').hide().fadeIn(500);
    $('.form-text').hide().delay(500).fadeIn(500);
    $( '.container-new' ).animate({minHeight: "500px"}, 500);


    $('#title').html('Editando <%= @jambodoc.title %>');

    //What to do when is typing on title
    $(".form-title").keyup(function () {
        if ($(".form-title").val().length > 3) {
            $('#title').html("Editando " + $(".form-title").val());
        } else {
            $('#title').html('Editando');
        }

    });

    //What to do when the focus is out
    $(".form-title").focusout(function () {
        if ($(".form-title").val().length > 3) {
            $('.form-title').delay(2000).slideUp(500);
        }

    });

    //What to do when someoneclick on the title
    $("#title").click(function () {

        $('.form-title').slideDown(500);

    });




</script>