


<div class="container container-new rounded-top mt-5">
  <div class="title-box">

    <div class="row">
      <div class="col-2" style="text-align: left;">
        <%= link_to "◄", jambodocs_path, class: "btn btn-new" %>
      </div>
      <div class="col-6 text-center">
        <span id="title" style="text-align: center;">Novo Documento</span>
      </div>
      <div class="col-4" style="text-align: right;">
        <li class="list-inline-item"><%= link_to "Salvar", "#", class: "btn btn-new float-right", style: "color:#ccc;" %></li>
        <li class="list-inline-item"><%= button_tag "Concluir", id: "save", class: "btn btn-new float-right", form: "new_jambodoc" %></li>
      </div>
    </div>


  </div>
  <div class="body">

  <%= render partial: 'form' %>

  </div>

  <div class="footer text-right text-muted">
    <div class="row mt-2">
      <div class="col" style="text-align: left;"><small>Salvo</small></div>
      <div class="col" style="text-align: right;">
        <li class="list-inline-item">
          <button id="send" type="button" class="btn btn-send float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Enviar</button>
        </li>
      </div>
   </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enviar documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @jambodoc do |form| %>

        <form id="sendemail" action="/jambodocs" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Destinatário:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Assunto:</label>
            <input type="text" class="form-control" id="subject-field">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensagem:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Enviar documento como mensagem.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Enviar como documento em anexo.
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Teste</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

          <%= form.submit "Enviar", id: "sendemail", class: "btn btn-new float-right", form: "new_jambodoc" %>

        </div>
    <% end %>>
  </div>
</div>


<script>



  // Document Animation
  $('.form-title').hide().fadeIn(500);
  $('.form-text').hide().delay(500).fadeIn(500);
  $('#send').hide().delay(1000).fadeIn(500);
  $( '.container-new' ).animate({minHeight: "530px"}, 500);


  $('#title').html('Novo Documento');

  //What to do when is typing on title
  $(".form-title").keyup(function () {
      if ($(".form-title").val().length > 3) {
          $('#title').html($(".form-title").val());
      } else {
          $('#title').html('Novo Documento');
      }

  });

  //What to do when the focus is out
  $(".form-title").focusout(function () {
      if ($(".form-title").val().length > 3) {
        $('.form-title').delay(2000).slideUp(500);
      }

  });

  //What to do when someoneclick on the title
  $("#title").click(function () {

      $('.form-title').slideDown(500);

  });

  //Modal to Send
  $('#exampleModal').on('show.bs.modal', function (event) {

      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

      $('#subject-field').val( $('#title').html());

  })

  $('#sendemail').click(function(){
      //Add Recipient to the form
      recipient = $('#recipient-name').val();
      $('#recipient').val(recipient);

      //Add Message text to the form
      message = $('#message-text').val();
      $('#message').val(message);

      subject = $('#subject-field').val();
      $('#subject').val(subject);


      check1 = $('#defaultCheck1').prop("checked") ? 1 : 0;
      $('#check1').val(check1);
      check2 = $('#defaultCheck2').prop("checked") ? 1 : 0;
      $('#check2').val(check2);

  });





    //Disable on Select
    $('#defaultCheck1').change(function(){
       if(this.checked){
           $("#message-text").prop('disabled', true);
       } else {
           $("#message-text").prop('disabled', false);
       }


    });



</script>