


<div class="container container-show rounded-top mt-5" style="position: relative;">
  <div class="title-box">



    <div class="row">
      <div class="col-2" style="text-align: left;">
        <%= link_to "◄", jambodocs_path, class: "btn btn-new" %>
      </div>
      <div class="col-6" style="text-align:center;">
        <span id="title"><%= @jambodoc.title %></span>
      </div>
      <div class="col-4" style="text-align: right;">
        <li class="list-inline-item"><%= link_to "Editar", edit_jambodoc_path(@jambodoc), class: "btn btn-new" %></li>
        <li class="list-inline-item">
          <ul class="nav navbar-nav ml-auto" style="z-index: 1;">
            <li class="dropdown  account-dropdown">
              <%= link_to "▼".html_safe, users_path, {:class => "btn btn-new", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false", 'role' => "button"} %>
              <ul class="dropdown-menu tool-dropdown" style="z-index: 0;">
                <li class="dropdown-item tool-dropdown-item"><%= link_to "Imprimir", root_path, class: "nav-link" %></li>
                <li class="dropdown-item tool-dropdown-item"><%= link_to "Baixar", root_path, class: "nav-link" %></li>
              </ul>
            </li>
          </ul>

        </li>




      </div>
    </div>


  </div>



  <div class="doc-title">
    <h2><%= @jambodoc.title %></h2>
  </div>

  <div class="doc-body">

    <%= @jambodoc.text %>


  </div>


    <div class="doc-footer mt-2">
      <div class="row">
        <div class="col" style="text-align: left;">
          <small></small>
        </div>
        <div class="col" style="text-align: right;">
          <li class="list-inline-item">
            <button id="send" type="button" class="btn btn-send float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Enviar Email</button>
          </li>
        </div>
      </div>
    </div>





</div>
