

  <%= form_for(contact) do |f| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h1><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h1>

        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label "Nome" %>
      <%= f.text_field :name, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "Sobrenome" %>
      <%= f.text_field :lastname, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "Aniversário" %></br>
      <%= f.date_select :birthday, { :order => [:day, :month, :year]},{:class=>'form-control', :style=>'display:inline-block; width:30%'} %>
    </div>

    <div class="field form-group">
      <%= f.label "E-mail" %>
      <%= f.text_field :email, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "Celular" %>
      <%= f.text_field :phone, class:'form-control'  %>
    </div>

    <div class="form-group">
        <%= f.label "Estado" %>
        <%= f.select :state, 
          [['Acre','AC'],
           ['Alagoas','AL'],
           ['Amapá','AP'],
           ['Amazonas','AM'],
           ['Bahia','BA'],
           ['Ceará','CE'],
           ['Distrito Federal','DF'],
           ['Espírito Santo','ES'],
           ['Goiás','GO'],
           ['Maranhão','MA'],
           ['Mato Grosso','MT'],
           ['Mato Grosso do Sul','MS'],
           ['Minas Gerais','MG'],
           ['Pará','PA'],
           ['Paraíba','PB'],
           ['Paraná','PR'],
           ['Pernambuco','PE'],
           ['Piauí','PI'],
           ['Rio de Janeiro','RJ'],
           ['Rio Grande do Norte','RN'],
           ['Rio Grande do Sul','RS'],
           ['Rondônia','RO'],
           ['Roraima','RR'],
           ['Santa Catarina','SC'],
           ['São Paulo','SP'],
           ['Sergipe','SE'],
           ['Tocantins','TO']],
           { prompt: "Selecione um Estado", selected: "DF" }, class: 'form-control', required: true %>
      </div>

    <div class="field form-group">
      <%= f.label "Cidade" %>
      <%= f.text_field :city, class:'form-control', value:'São Sebastião', readonly:true  %>
    </div>

    <div class="field form-group">
      <%= f.label "Endereço" %>
      <%= f.text_field :address, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "Número da casa" %>
      <%= f.text_field :number, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "CEP" %>
      <%= f.text_field :pc, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "Atividades" %>
      <%= f.text_field :activities, class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label "Vídeo" %>
      <%= f.check_box :video %>
    </div>
  <% end %>
