<div class="container container-show rounded-top mt-5" style="position: relative;">
  <div class="title-box">



    <div class="row">
      <div class="col-2" style="text-align: left;">
        <%= link_to "◄", contacts_path, class: "btn btn-new" %>
      </div>
      <div class="col-6" style="text-align:center;">
        <span id="title"><%= @contact.name %></span>
      </div>
      <div class="col-4" style="text-align: right;">
        <li class="list-inline-item"><%= link_to "Editar", edit_contact_path(@contact), class: "btn btn-new" %></li>
        <li class="list-inline-item">
          <ul class="nav navbar-nav ml-auto" style="z-index: 1;">
            <li class="dropdown  account-dropdown">
              <%= link_to "▼".html_safe, users_path, {:class => "btn btn-new", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false", 'role' => "button"} %>
              <ul class="dropdown-menu tool-dropdown" style="z-index: 0;">
                <li class="dropdown-item tool-dropdown-item"><%= link_to "Imprimir", root_path, class: "nav-link" %></li>
                <li class="dropdown-item tool-dropdown-item"><%= link_to "Baixar", root_path, class: "nav-link" %></li>
              </ul>
            </li>
          </ul>

        </li>

      </div>
    </div>


  </div>



  <div class="doc-body">

    <p>
      <strong>Nome:</strong>
      <%= @contact.name %> <%= @contact.lastname %>
    </p>

    <p>
      <strong>Aniversário:</strong>
      <%= @contact.birthday %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @contact.email %>
    </p>

    <p>
      <strong>Celular:</strong>
      <%= @contact.phone %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @contact.state %>
    </p>

    <p>
      <strong>Endereço:</strong>
      <%= @contact.address %>
    </p>

    <p>
      <strong>Número:</strong>
      <%= @contact.number %>
    </p>

    <p>
      <strong>CEP:</strong>
      <%= @contact.pc %>
    </p>

    <p>
      <strong>Actividades:</strong>
      <%= @contact.activities %>
    </p>

    <p>
      <strong>Video:</strong>
      <%= @contact.video %>
    </p>
  </div>

