<style>

  @import url('https://fonts.googleapis.com/css?family=Crafty+Girls');

  body {
    background: rgb(214, 222, 234);
    page-break-before: avoid;
    font-size: 90%;

  }

  h5 {
    color: #0d3109;
  }

  p {
    color: #000 !important;
  }

  table, th, td {
    border: 0px;
    border-collapse: collapse;
    padding: 2px !important;
  }

  page {

    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    padding-top: .2cm;
    padding-left: .3cm;

  }

  page[size="A4"] {
    width: 21cm;
    height: auto;
    padding-bottom: 20px;
  }

  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
  }

  .card-deck {
    margin-left: -.15cm;
    margin-top: .2cm;
    font-family: 'Crafty Girls', cursive;

  }

  .clearfix:before,
  .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    zoom: 1;
  }

  .card {
    color: #0d3109 !important;
  }

  @page :first {
    color: green;

    @top-left {
      content: "foo";
      color: blue;
    }
    @top-right {
      content: "bar";
    }
  }

  @page {
    color: red;
    @top-center {
      content: "Page " counter(page);
    }
  }

  @media print {
    body, page {
      position: absolute;
      top: 0;
      left: 0;
      zoom: 130%;
      background-color: #fff;
      box-shadow: 0;
      overflow-y: hidden;
    }

  }


</style>

<div class="row">
  <div class="col-lg-12 col-sm-12">
    <div class="frame">
        <h3 class="text-center m-3">Lista de Presença</h3>
        <p class="text-lead text-center"><%= @eventosbahai.name %></p>
        <p class="text-lead text-center">Aperte Ctrl+P para imprimir, ou <a href="#" id="print">clique aqui</a>. </p>
      </div>
    </div>
  </div>

<script>
  $("#print").on('click', function () {
      window.print();
  })
</script>


<page size="A4">

      <div class="text-center" style="font-size:65%;"><%= @eventosbahai.name %> - <%= @eventosbahai.city %> <%= @eventosbahai.state %> - De <%= @eventosbahai.start_at.strftime('%d-%m-%Y') %> até <%= @eventosbahai.end_at.strftime('%d-%m-%Y') %> </div>
      <h3 class="text-danger">
        <% if @eventosbahai.end_at - Date.today < 0 %>
          Evento encerrado
        <% end %>
      </h3>
      <table class="table text-center" style="font-size: 75%;">
      <thead>
      <tr>
        <% if @eventosbahai.participants.size > 0 %>
          <th scope="col"></th>
          <th scope="col">Nome</th>
          <th scope="col">Celular</th>
          <th scope="col">Região</th>
          <th scope="col">Ag/Inst.</th>
          <th scope="col">Chegada</th>
          <th scope="col">Saída</th>
          <th scope="col">Aer. Chegada</th>
          <th scope="col">Aer. Saída</th>
        <% else %>
          Nenhum participante inscrito.
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% @eventosbahai.participants.order("id").each_with_index do |f, index| %>
          <tr>
            <td style="text-align: center;">
              <%= "#{index+1}." %>
            </td>
            <%= @fullname = "" %>
            <% unless f.name.blank? || f.lastname.blank? %>
              <% @fullname = "#{f.name.humanize} #{f.lastname.humanize}" %>
            <% end %>
   
            <td style="text-align:left;"><%= truncate @fullname, length:22, separator: /\w+/ %></td>
            <td style="max-width: 72px;">

              <% unless f.phone =~ /\A[^@]+@[^@]+\Z/ %>

                <%= f.phone.delete("^0-9") unless f.phone.blank? %>

              <% end %>

            </td>
            <td style="text-align: center;">
              <%= f.administrative_region %>
            </td>

            <td style="max-width: 20px !important;">
             <%= f.administrative_function %>
            </td>

            <td style="text-align: center;">
              <% if f.itinerary.present? && f.itinerary.arrival.present? %>
                <%= f.itinerary.arrival.strftime("%d-%m %H:%M") %>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if f.itinerary.present? && f.itinerary.departure.present? %>
                <%= f.itinerary.departure.strftime("%d-%m %H:%M") %>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if f.itinerary.present? && f.itinerary.airport_arrival.present? %>
                <%= f.itinerary.airport_arrival %>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if f.itinerary.present? && f.itinerary.airport_departure.present? %>
                <%= f.itinerary.airport_departure %>
              <% end %>
            </td>

            <td style="text-align: center;">
              <%= %>
            </td>
          </tr>
        <% end %>
  </tbody>
</table>




</page>