<%= form_for(bemvindo) do |f| %>
  <% if bemvindo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bemvindo.errors.count, "error") %> prohibited this bemvindo from being saved:</h2>

      <ul>
      <% bemvindo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :comentarios %>
    <%= f.text_area :comentarios %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
