
<%= bootstrap_form_for(bemvindo, inline_errors:true) do |f| %>

  
  <div class="row">
    <div class="col-lg-6">
        <%= f.text_field :name, label: 'Nome'  %>
      
   </div>
    <div class="col-lg-6">
      <div class="form-group">

        <%= f.text_field :lastname, label: 'Sobrenome'   %>
      </div>
    </div>
    </div>

    

        <%= f.text_field :address, label: 'Endereço'   %>
    


  <%= f.text_field :email, label: 'E-mail ou Celular', icon: "envelope" %>
  <div class="form-inline">
    <%= f.date_select :birth, {:use_month_names => ['janeiro', 'fevereiro', 'março', 'abril', 'maio','junho','julho','agosto','setembro','outubro','novembro','dezembro'], :start_year=>Date.today.year-35, :end_year=>Date.today.year - 10,  :order => [:day,:month,:year], :label => "Data de Nascimento", :prompt => {:day => 'Dia', :month => 'Mês', :year=> 'Ano'} }  %>
  </div>

   <%= f.select :city, [["De onde você é?",nil],["Cáceres - MT", "caceres-mt"],["Cuiabá - MT", "cuiaba-mt"],["Tangará da Serra - MT", "tangara-mt"],["Campo Grande - MS", "campogrande-ms"],["Corumbá - MS", "corumba-ms"], ["Dourados - MS", "dourados-ms"], ["Jardim - MS", "jardim-ms"],["Rio Brilhante - MS", "riobrilhante-ms"],["São Gabriel do Oeste - MS" , "saogabrieldooeste-ms"]], {:selected =>["Rio Brilhante - MS", "riobrilhante-ms"]}, {label:"Cidade"} %>


  <%= f.text_area :comments, label: "Comentários", placeholder: "(opcional)" %>
  <div class="text-center">
    <%= f.submit "Enviar",  class: "btn btn-default btn-primary" %>
  </div>

<% end %>
