<p id="notice"><%= notice %></p>

<h1>Lista de amigos</h1>
<p>Amigos que serão convidados para a próxima Conferência de Juventude em Campo Grande - MS</p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>E-mail</th>
      <th>Comentários</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bemvindos.each do |bemvindo| %>
      <tr>
        <td><%= bemvindo.Name %></td>
        <td><%= bemvindo.lastname %></td>
        <td><%= bemvindo.email %></td>
        <td><%= bemvindo.comentarios %></td>
        <td><%= link_to 'Mostrar', bemvindo %></td>
        <td><%= link_to 'Editar', edit_bemvindo_path(bemvindo) %></td>
        <td><%= link_to 'Deletar', bemvindo, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inscrever-se', new_bemvindo_path %>
