<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><kbd>Inscrições</kbd></h1>

  <p><%= current_user['name'] %>, apenas você pode ver os inscritos para a próxima Conferência de Juventude em: <%= @cities %></p>

  <% unless @bemvindos.blank? %>


  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>E-mail</th>
        <th>Comentários</th>
        <th>Cidade</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @bemvindos.each do |bemvindo| %>
        <tr>
          <td><%= bemvindo.name %></td>
          <td><%= bemvindo.lastname %></td>
          <td><%= bemvindo.email %></td>
          <td><%= bemvindo.comments %></td>
          <td><%= bemvindo.city %></td>
          <td><%= link_to 'Mostrar', bemvindo %></td>
          <td><%= link_to 'Editar' %></td>
          <td><%= link_to 'Deletar', bemvindo, :method => :delete, data: { confirm: "Tem certeza que quer deletar #{bemvindo.name}?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>

  <p>Ainda ninguém se cadastrou, estamos esperando ansiosamente.</p>

  <p>Aqui está o <%= link_to 'link', new_bemvindo_path %> para inscrição. (jambo.ninja/conferencias/inscricao)</p>


  <% end %>
  <br>
</div>


