
 
 	<div class="col-lg-5 col-lg-offset-1">
 		 

		<div class="container" style="margin-bottom:-90px;">
 		 			
			<h4><b>Inscritos</b> <span class="alert-success" style="padding:5px;"><%= available_sits %></span></h4><br><br>
			
			<ul>
			<% registered_users.each do |f| %>
				<li><%= f.name %> <%= f.lastname%></li>
			<% end %>
			</ul>

			<p style="color:red; margin-bottom: -10px; left:0 auto;"><span id="demo"></span></p>
			
		</div>

	
			
 		 	
			
		
 		
 	</div>
 	 <div class="col-lg-5 ">
 	 	<div class="container">
 			
			<h1><kbd>Inscrição</kbd></h1>
					<% if flash[:notice] %><br>
						<div class="notice alert-danger"><%= flash[:notice] %> </div>
					<% end %>
					<p style="text-indent:0em;">Preencha o formulário para participar da próxima Conferência de Juventude da sua cidade.</p>

					<div class="row">
						<div class="col-lg-12 ">
								<%= render 'form', bemvindo: @bemvindo %>
						</div>
					</div>
	 			
	 		</div>

 		
 	</div>

