<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bemvindo.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @bemvindo.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bemvindo.email %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @bemvindo.comments %>
</p>

<%= link_to 'Editar', edit_bemvindo_path(@bemvindo) %> |
<%= link_to 'Voltar', bemvindos_path %>
