

<h1><%= @bemvindo.name %> <%= @bemvindo.lastname %></h1>
<p>Obrigado por se inscrever. Você receberá um E-mail de confirmação alguns dias antecedendo a próxima Conferência de Juventude.</br>

  <%= social_share_button_tag("Conferências de Juventude", :url => "www.jambo.ninja/conferencias/inscricao", :image =>"fb-icon.jpg", :popup => "true") %> Compartilhe com seus amigos


<p>Seus dados:<br>
  <strong>Cidade:</strong>
  <%= @city[@bemvindo.city] %>
  <br>
  <strong>Email:</strong>
  <%= @bemvindo.email %>
  <br>

   <% if(@bemvindo.phone?) %>
  <strong>Celular:</strong>
  <%= @bemvindo.phone %>
  <br>
  <% end %>

  <% if(@bemvindo.birth?) %>
	  <strong>Niver:</strong>
	  <%= @birth %>
	  <br>
  <% end %>

  <% if(@bemvindo.comments?) %>
	  <strong>Comentários:</strong>
	  <%= @bemvindo.comments %>
  <% end %>
</p>



<p>
Você também pode se cadastrar nesse Site para obter informações de atividades e eventos. Se você ainda não tem uma conta, <%= link_to "clique aqui", users_new_path %> para se cadastrar.
</p>
