<h1><%= @bemvindo.name %> <%= @bemvindo.lastname %></h1>
<p>Obrigado por se inscrever. Você receberá um E-mail de confirmação alguns dias antecedendo a próxima Conferência de Juventude.</br>

<p>Seus dados:<br>
  <strong>Cidade:</strong>
  <%= @bemvindo.city %>
  <br>
  <strong>Email:</strong>
  <%= @bemvindo.email %>
  <br>
  <strong>Comentários:</strong>
  <%= @bemvindo.comments %>
</p>

<p>
Você também pode se cadastrar nesse Site para obter informações de atividades e eventos. Se você ainda não tem uma conta, <a href="#">clique aqui</a> para se cadastrar.
</p>
