<%= form_for(administrative_region) do |f| %>
  <% if administrative_region.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(administrative_region.errors.count, "error") %> prohibited this administrative_region from being saved:</h1>

      <ul>
      <% administrative_region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
