<%= form_for(participant_role) do |f| %>
  <% if participant_role.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(participant_role.errors.count, "error") %> prohibited this participant_role from being saved:</h1>

      <ul>
      <% participant_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
