
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="frame">
            <h1 class="text-center">Participantes</h1>

            <% unless @participants.blank? %>
                <ul class="list-inline mx-auto text-center">
                    <li class="list-inline-item" style="display: inline-block;"><%= link_to "Crachás", badges_path, class:'btn btn-new m-1', id:'crachas' %></li>
                    <li class="list-inline-item" style="display: inline-block;"><%= link_to "Lista de presença", listas_path, class:'btn btn-new m-1', id:'listapresenca' %></li>
                    <li class="list-inline-item" style="display: inline-block;"><%= link_to "Enviar E-mails personalizados", admin_mailer_manager_path, class:'btn btn-new m-1', id:'mailermanager' %></li>
                </ul>
            <% end %>

            <% if @participants.blank? %>
                <span class="text-center">Não há nenhum participante inscrito ainda.</span>
            <% end %>

            <% unless (Eventosbahai.last.blank?) %>
                <%= form_tag partsev_path,  {id:'formcombo', remote:true } do |form| %>
                    <% if current_user.superuser? %>
                        <%= collection_select :eventosbahais, :ids , Eventosbahai.order('id desc').all, :id, :name, {include_blank: false, :selected => Eventosbahai.last.id},{class:'form-control btn btn-info'} %>
                    <% else %>
                        <%= collection_select :eventosbahais, :ids , current_user.eventosbahais.order('id desc').all, :id, :name, {include_blank: false, :selected => Eventosbahai.last.id},{class:'form-control btn btn-info'} %>
                    <% end %>
                <% end %>
            <% end %>
            <script>
                $(function() {
                $("#eventosbahais_ids").change(function() {
                    $("#formcombo").submit();
                        val = $('#eventosbahais_ids').val();
                        $("#crachas").attr('href','/badges?locale=pt-BR&id='+val);
                        $("#listapresenca").attr('href','/listas?locale=pt-BR&id='+val);
                        $("#mailermanager").attr('href', '/admin/mailer_manager?id='+val);
                });
                $(document).ready(function() {
                        $("#formcombo").submit();
                        val = $('#eventosbahais_ids').val();
                        $("#crachas").attr('href','/badges?locale=pt-BR&id='+val);
                        $("#listapresenca").attr('href','/listas?locale=pt-BR&id='+val);
                        $("#mailermanager").attr('href', '/admin/mailer_manager?id='+val);
                });
                });
            </script>
        </div>
    </div>
    </div>

    <% unless @participants.blank? %>
    <div class="row">
    <div class="col-12 mx-auto">
        <div class="frame frame-admin mx-auto text-center">
            <h1 class="text-center" id="eventosbahaijs"></h1>		
            <h4 class="text-center text-danger" id="eventoecerradojs"></h4>
                <div class="table-responsive table-responsive-custom mx-auto">
                    <table class="table table-custom mx-auto" style="text-align: center;">
                        <thead id="participantsheadjs">
                        
                        </thead>
                        <tbody id="participantsjs">
                        
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
<% end %>
