
  <%= form_for(@admin_mailer_manager, url: admin_create_mailer_manager_path, html: {method: :post}, remote: true) do |form| %>
    <div class="row"> <!-- Event Presentation -->
        <div class="col-lg-12 col-sm-12">
            <div class="frame">
                <h1 class="text-center">E-mail Personalizado</h1>

              
                    <% if @admin_mailer_manager.errors.any? %>
                      <% @admin_mailer_manager.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    <% end %>

                    <div class="form-group">
                        <%= label_tag "Para:" %><br>
                        <%= radio_button_tag :to_whom, :all, :checked => true  %>
                        <%= label_tag "yes", "Todos os Participantes", :value => "true"  %><br>
                        <%= radio_button_tag :to_whom, :no_itinerary %>
                        <%= label_tag "teste", "Participantes sem data de Chegada", :value => "false" %>
                    </div>

                    <%= form.hidden_field :eventosbahai_id, :value => params[:id] %>

                    <!--
                    # <div class="form-group">
                    #   <%= label_tag "Para:" %>
                    #   <%= form.text_field :to, value:"#{@participant_emails}", class:'form-control', required: true %>
                    # </div> -->

                    <div class="form-group">
                      <%= label_tag "Assunto:" %>
                      <%= form.text_field :subject, value:"#{@event.name}", class:'form-control', required: true %>
                    </div>

                    <div class="form-group">
                      <%= label_tag "Mensagem:" %>
                      
                      <div id="admin_mailer_manager_body_div" contenteditable="true" class="form-control expandable-input" name="admin_mailer_manager[body]"></div>
                      <%= form.hidden_field :body %>
                    </div>
                    
                    <div style="text-align: center;">
                        <div id="preview_email_button" class="btn btn-info preview_email_button" >Visualizar</div>
                    </div>

                    <% if is_superuser? %>
                      <%= link_to "Test Email Production", { :controller => "dashboards", :action => "test_mailer_production" }, remote: true %>
                    <% end %>
                  
                        
            </div>
        </div>
    </div>

    <div id="visible_preview" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="frame">
              <h1 class="text-center">Visualização</h1>
              <div id="email_preview_div">
                
              </div>
              <div style="text-align: center;">
                <%= form.submit "Enviar E-mail".html_safe, class:'btn btn-success', :data => { confirm: 'Enviar E-mail para os Participantes?', disable_with: "Enviando E-mails..."} %>  
              </div>
            </div>
        </div>
    </div>
<% end %>

<script>
  $('#to_whom_no_itinerary').change(function(){
                    console.log("No Itinerary");
                    const text_area = $("#admin_mailer_manager_body_div");
    
const body_text = 
`Olá |% participante %|, como vai? <br><br>
Parece que você ainda não adicionou o seu itinerário no Site, para adicionar basta entrar neste link: <br><br>

|% link_itinerario %| <br><br>

Qualquer dúvida mande-nos um E-mail, <br><br>

Atenciosamente,<br>
Secretaria Nacional

`;
    const html = $.parseHTML(body_text);
    text_area.html(body_text);
    console.log(html);
  });

  $("#preview_email_button").on('click', function(){
    const text_area = $("#admin_mailer_manager_body_div");
    const preview_div = $("#email_preview_div");
    let str = text_area.html();
    let res = str.replace("|% participante %|", "<%= current_user.user_profile.name %>");
    res = res.replace("|% link_itinerario %|", '<%= link_to edit_participant_itinerary_url(@participant, @itinerary), edit_participant_itinerary_path(@participant, @itinerary) %>');
    preview_div.html(res);
    $("#admin_mailer_manager_body").val(str);
    $("#visible_preview").show();
  });

</script>



<script>
  $(document).ready(function() {
    $("#visible_preview").hide();
    $(document).on("submit", "form#new_expandable", function(e) {
      e.preventDefault();

      var contents = $(".expandable-input").html();

      $('input#expandable').val(contents);
      this.submit();
    });
  });
</script>

<style>
  .expandable-input {
    min-height: 150px;
    height: auto;
  }

  .preview_email_button {
    cursor: pointer;
  }
</style>