<%= form_for user_profile do |form| %>
  <div class="row">
      <div class="form-group col-6 mr-0 pr-0" style="width: 100%;">
          <%= form.label 'Nome' %>
          <%= form.text_field :name, :class=>'form-control m-0', required: true %>
      </div>
      <div class="form-group col-6 ml-0" style="width: 100%;">
          <%= form.label 'Sobrenome' %>
          <%= form.text_field :lastname, :class=>'form-control m-0', required: true %>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <%= form.label 'Celular' %>
              <%= form.text_field :phone, :class=>'form-control', :placeholder => "Ex: 61 99998 8888", required: true %>
          </div>
      </div>
      <div class="form-group col-md-6">
          <%= form.label 'Cidade' %>
          <%= form.text_field :city, :class=>'form-control', required: true %>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-md-12">
          <%= form.label 'Estado' %>
              <%= form.select :state, 
              [['Acre','AC'],
              ['Alagoas','AL'],
              ['Amapá','AP'],
              ['Amazonas','AM'],
              ['Bahia','BA'],
              ['Ceará','CE'],
              ['Distrito Federal','DF'],
              ['Espírito Santo','ES'],
              ['Goiás','GO'],
              ['Maranhão','MA'],
              ['Mato Grosso','MT'],
              ['Mato Grosso do Sul','MS'],
              ['Minas Gerais','MG'],
              ['Pará','PA'],
              ['Paraíba','PB'],
              ['Paraná','PR'],
              ['Pernambuco','PE'],
              ['Piauí','PI'],
              ['Rio de Janeiro','RJ'],
              ['Rio Grande do Norte','RN'],
              ['Rio Grande do Sul','RS'],
              ['Rondônia','RO'],
              ['Roraima','RR'],
              ['Santa Catarina','SC'],
              ['São Paulo','SP'],
              ['Sergipe','SE'],
              ['Tocantins','TO']],
              { prompt: "Selecione um Estado" }, class: 'form-control', required: true %>
      </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= form.label 'Região' %>
      <%= form.select(:administrative_region_id, AdministrativeRegion.all.collect {|function| [function.name, function.id]},{prompt:'Selecione uma Região'}, {class: 'form-control'}) %>
    </div>
  </div>

  <%= hidden_field_tag :redirect_to, params[:redirect_to] %>


  <div class="actions text-center">
    <%= form.submit "Salvar Alterações", class: "btn btn-success" %>
  </div>


<% end %>