<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">
      <h1 style="text-align:center;">Minha Conta</h1>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p><br>

      <p class="text-center">
        <%= link_to "Alterar Senha", edit_user_registration_path(@user)  %>
      </p>


    </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">
      <h1 style="text-align:center;">Meus Dados</h1>
      
      <% if @user_profile.birthday.present? %>
        <p>
          <strong>Aniversário:</strong>
          <%= @user_profile.birthday %>
        </p>
      <% end %>

      <% if @user_profile.email.present? %>
        <p>
          <strong>Email:</strong>
          <%= @user_profile.email %>
        </p>
      <% end %>

      <% if @user_profile.phone.present? %>
        <p>
          <strong>Celular:</strong>
          <%= @user_profile.phone %>
        </p>
      <% end %>

      <% if @user_profile.city.present? %>
      <p>
        <strong>Cidade:</strong>
        <%= @user_profile.city %>
      </p>
      <% end %>

      <% if @user_profile.state.present? %>
        <p>
          <strong>Estado:</strong>
          <%= @user_profile.state %>
        </p>
      <% end %>

      <% if @user_profile.administrative_region_id.present? %>
        <p>
          <strong>Região:</strong>
          <%= AdministrativeRegion.find(@user_profile.administrative_region_id).name %>
        </p>
      <% end %>

      <% if @user_profile.address.present? %>
        <p>
          <strong>Endereço:</strong>
          <%= @user_profile.address %>
        </p>
      <% end %>

      <% if @user_profile.number.present? %>
        <p>
          <strong>Número:</strong>
          <%= @user_profile.number %>
        </p>
      <% end %>

      <% if @user_profile.zipcode.present? %>
        <p>
          <strong>CEP:</strong>
          <%= @user_profile.zipcode %>
        </p>
      <% end %>
      <br>

      <p class="text-center">
        <%= link_to "Editar", edit_user_profile_path(@user_profile, redirect_to: request.path) %>
      </p>

    </div>
  </div>
</div>


<p class="text-danger text-center">Não está contente?<br>
  <%= link_to "Deletar Minha Conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja deletar sua conta? Todas as suas informações e inscrições serão apagadas." }, method: :delete %>
</p>