<p id="notice"><%= notice %></p>

<h1>Conferenciasdeunidades</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferenciasdeunidades.each do |conferenciasdeunidade| %>
      <tr>
        <td><%= conferenciasdeunidade.name %></td>
        <td><%= conferenciasdeunidade.location %></td>
        <td><%= conferenciasdeunidade.start_at %></td>
        <td><%= conferenciasdeunidade.end_at %></td>
        <td><%= conferenciasdeunidade.description %></td>
        <td><%= link_to 'Show', conferenciasdeunidade %></td>
        <td><%= link_to 'Edit', edit_conferenciasdeunidade_path(conferenciasdeunidade) %></td>
        <td><%= link_to 'Destroy', conferenciasdeunidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conferenciasdeunidade', new_conferenciasdeunidade_path %>
