<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conferenciasdeunidade.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @conferenciasdeunidade.location %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @conferenciasdeunidade.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @conferenciasdeunidade.end_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @conferenciasdeunidade.description %>
</p>

<%= link_to 'Edit', edit_conferenciasdeunidade_path(@conferenciasdeunidade) %> |
<%= link_to 'Back', conferenciasdeunidades_path %>
