<%= javascript_include_tag('parallax.js') %>

<nav class="navbar navbar-custom" role="navigation">
  
 
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="animation <%= 'nav-animation' if current_page?(root_path) %>">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Expandir</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo0brand-sm-01-01.png", class:'brand'), root_path %>
        
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul id="primary-content" class="nav navbar-nav">

           <li><%= link_to 'Principal', root_path, class:"nav-link" %></li>


           <% if logged_in? %>

            <% unless privileges.nil? || privileges ==0 %>

               <li class="dropdown">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscrição<span class="caret"></span></a>
                  <ul class="dropdown-menu themes-dropdown">
                    
                    <li class="li-tt">
                     <%= link_to "Nova", new_bemvindo_path, class:"nav-link" %>
                    </li>
                    
                    <li class="li-tt">
                     <%= link_to "Inscritos", bemvindos_url, class:"nav-link" %>
                    </li>
                  
                  
                  </ul>
              </li>

             <% else  %>
              <li><%= link_to 'Inscrição', partnew_path(2), class:"nav-link" %></li>

             <% end %>

           <% else %>
            
             <li class="<%= 'active' if current_page?(new_bemvindo_path) %>"><%= link_to 'Inscrição', partnew_path(2), class:"nav-link" %></li>
            
           <% end %>
          
        </ul>

        <ul class="nav navbar-nav navbar-right">


        <% if logged_in? %>
          <li>
            <%= link_to 'Usuários', users_path, class:"nav-link" %>
          </li>

          <li class="dropdown">
            <%= link_to "#{user_name}<span class='caret'></span>".html_safe, users_path, { :class => "dropdown-toggle nav-link", 'data-toggle' => "dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" } %>
            
              <ul class="dropdown-menu account-dropdown">
                <li class="li-acc"><%= link_to "Perfil", user_path(current_user), class:"nav-link" %></li>
                <li class="li-acc"><%= link_to "Conta", '#', class:"nav-link" %></li>
                <li class="li-acc">
                  <%= link_to "Sair", signout_path, method: "delete", class:"nav-link" %>
                </li>
              </ul>
            </li>
          
        <% end %>


      </div><!-- /.navbar-collapse -->
    </div><!-- animation -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-home" style="margin-top:-30px;">
 
  <div style="background:white" class="parallax-window" data-parallax="scroll" data-image-src='<%= asset_path @image %>'>
     <div class="container-fluid">
    <div class="row">
      <div style="margin-top:300px;">
    <aside class="col-sm-4 col-sm-push-7" style="margin-top:90px; z-index:2;">

      <% unless @quote.nil? || @author.nil? %>
        <blockquote id="scene" class="blockquote-reverse">
          <div data-depth="0.2"><%= @quote %>
          <footer style="color:#fff;"><%= @author %></footer></div>
        </blockquote>
      <% end %>


    </aside>
      </div>

  </div>
</div>
</nav>


