<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jovens Amigos</a>
    </div>
   
  =

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="primary-content" class="nav navbar-nav">
         <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Principal', root_path %></li>
           <li class="<%= 'active' if current_page?(new_bemvindo_path) %>"><%= link_to 'Inscrição', new_bemvindo_path %></li>
          
           <li class="<%= 'active' if current_page?(my_about_path('about')) %>"><%= link_to 'Sobre', my_about_path('about') %></li>

           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Temas<span class="caret"></span></a>
              <ul class="dropdown-menu" style="width:300px;">
                <li><a href="#">Período da Juventude</a></li>
                <li><a href="#">Primórdios da Adolescência</a></li>
                <li><a href="#">Apoio Mútuo</a></li>
                <li><a href="#">Construção de Comunidade</a></li>
                <li><a href="#">Contribuindo para o Avanço da Civilização</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Ja tem uma conta?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                Login via
                <div class="social-buttons">
                  <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                  <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                                ou
                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Email</label>
                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Senha" required>
                      <div class="help-block text-right"><a href="">Esqueceu a senha ?</a></div>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> Manter logado
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                Novo aqui ? <a href="#"><b>Junte-se a nós</b></a>
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
