<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="animation <%= 'nav-animation' if current_page?(root_path) %>">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Expandir</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Jovens Amigos", root_path, class:'navbar-brand' %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul id="primary-content" class="nav navbar-nav">

           <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Principal', root_path %></li>
            
             <li class="<%= 'active' if current_page?(new_bemvindo_path) %>"><%= link_to 'Inscrição', new_bemvindo_path %></li>
            
             

             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Temas<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  
                  <li>
                   <%= link_to "Contribuindo para a Melhora da Sociedade", themes_contributing_path %>
                  </li>
                  
                  <li>
                   <%= link_to "Primórdios da Adolescência", themes_early_adolescence_path %>
                  </li>
                
                  <li>
                   <%= link_to "Amizade e Apoio Mútuo", themes_friendship_path %>
                  </li>
                 
                  <li>
                   <%= link_to "Construção de Comunidade", themes_youth_path %>
                  </li>
                 

                </li> 
              </ul>
           </li>
           <li class="<%= 'active' if current_page?(my_about_path('about')) %>"><%= link_to 'Sobre', my_about_path('about') %></li>
        </ul>

         <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li>
            <ul>
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Conta", '#' %></li>
              <li>
                <%= link_to "Sair", signout_path, method: "delete" %>
              </li>
            </ul>

        <% else %>

         
            <li><span class="navbar-text">Ja tem uma conta?</span></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                   <div class="row">
                      <div class="col-md-12">
                        Login via
                        <div class="social-buttons">
                          <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                          <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                        </div>
                                        ou
                         <%= form_for :session, url: signin_path do |f| %>
                            <div class="form-group">
                               <div class="field">
                              <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control" %>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                              <%= f.password_field :password, autocomplete: "off", placeholder:"Senha", class:"form-control" %>
                              </div>
                              <div class="help-block text-right"><a href="">Esqueceu a senha ?</a></div>
                            </div>
                            <div class="form-group">
                               <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                            </div>
                            <div class="checkbox">
                               <label>
                               <input type="checkbox"> Manter logado
                               </label>
                            </div>
                         <% end %>
                      </div>
                      <div class="bottom text-center">
                        Novo aqui ? <%= link_to "Junte-se a nós", new_user_path %>
                      </div>
                   </div>
                </li>
              </ul>
            </li>
          </ul><!-- /.Login -->
        <% end %>


      </div><!-- /.navbar-collapse -->
    </div><!-- animation -->
  </div><!-- /.container-fluid -->
</nav>
