<!DOCTYPE html>
<html>
  <head>
    <title>Jovens Amigos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body>

     <%= render "layouts/header" %>
          
  <div class="page-bg <%='main-page' if current_page?(root_path) %>">

     <div class="container">
      <div class="row">
         <div class="col-12 col-md-9">
            <%=yield %>
         </div>
      </div>
    </div><!--Container -->

  </div><!--Background -->

  </body>
</html>
