<!DOCTYPE html>
<html>
  <head>
    <title>Jambo Network</title>
      <%= render partial: 'layouts/metatags' %>
  </head>
  <body>
     <%= render partial: "layouts/evnav" %>
     <div class="content" style="min-height: 100vh">
        <div class="container container-main rounded-top mt-5 mx-auto">

          <%= render partial: 'layouts/menu_admin' %>

          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>

          <%=yield %>
       </div>
     </div>

     <%= render "layouts/footer" %>

  </body>
</html>

