<!DOCTYPE html>
<html>
  <head>
    <title>Jambo Network</title>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-D_cXYmmH0D2DTELXbkloBnNieR6HeSo" async defer></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




  
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:locale" content="pt_BR">
    <meta property="fb:app_id" content="245039609373279">
    <meta property="og:url" content="<%= @url %>">
    <meta property="og:title" content="Inscrição <%= @title %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://2.bp.blogspot.com/-V7wuYSu6HOw/Ue0o22Rn0dI/AAAAAAAAE_I/gOfXSsyGmz8/s1600/74677_10153042944850543_281548918_n.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:description" content="<%= @summary %>">


  </head>
  <body>

     <%= render "layouts/evnav" %>



       <div  style="background:white" class="parallax-window d-flex align-items-end" data-parallax="scroll" data-naturalWidth="900" data-zIndex = "-20" data-image-src='<%= asset_path @image %>'>
            <div class="container-fluid h-100" style="z-index: 5">

             <div class="mb-auto p-2 bd-highlight">

                 <% unless @quote.nil? || @author.nil? %>
                   <blockquote class="blockquote text-right ml-auto">
                     <span class="mb-0"><%= @quote %></span>
                       <footer class="blockquote-footer"><%= @author %></footer>

                   </blockquote>
                 <% end %>

               </div>
             </div>
       </div>






    
        <%=yield %>
    
 

  
     <footer class="mainfooter font-small blue pt-4 mt-4">
       <div class="container-fluid" style="background-color:#fff">
        <div class="footer-copyright py-3 text-center">

               <span class="text-muted" style="font-size:80% !important;"> © 2018 Copyright <%= link_to "Jambo Network", my_about_path %></span>
            </div>
        </div>
     </footer>

  </body>
</html>

