<!DOCTYPE html>
<html>
  <head>
    <title>Jambo Network</title>
    

      <%= render partial: 'layouts/metatags' %>

  </head>
  <body>

     <%= render "layouts/evnav" %>



       <div  style="background:white" class="parallax-window d-flex align-items-end" data-parallax="scroll" data-naturalWidth="900" data-zIndex = "-20" data-image-src='<%= asset_path @image %>'>
            <div class="container-fluid h-100" style="z-index: 5">

             <div class="mb-auto p-2 bd-highlight">

                 <% unless @quote.nil? || @author.nil? %>
                   <blockquote class="blockquote text-right ml-auto">
                     <span class="mb-0"><%= @quote %></span>
                       <footer class="blockquote-footer"><%= @author %></footer>

                   </blockquote>
                 <% end %>

               </div>
             </div>
       </div>






    
        <%=yield %>
    
 

  
     <footer class="mainfooter font-small blue pt-4 mt-4">
       <div class="container-fluid" style="background-color:#fff">
        <div class="footer-copyright py-3 text-center">

               <span class="text-muted" style="font-size:80% !important;"> © 2018 Copyright <%= link_to "Jambo Network", my_about_path %></span>
            </div>
        </div>
     </footer>

  </body>
</html>

