<!DOCTYPE html>
<html>
<head>
  <title>Jambo Network</title>



  <%= javascript_include_tag 'jambodocs', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'jambodocs', media: 'all' %>

</head>
<body>

  <%= render partial: 'layouts/evnav-workspace' %>

  <div class="container-fluid">


    <%= yield %>


  </div>




</body>
</html>