
  <%= form_for(@admin_mailer_report, html: {method: :post}, remote: true) do |form| %>
    <div class="row"> <!-- Event Presentation -->
        <div class="col-lg-12 col-sm-12">
            <div class="frame">
                <%= link_to "Voltar", admin_mailer_reports_path %> 
                <div class="text-center">(<%= @event.name %>)</div>
                <h1 class="text-center">Novo E-mail</h1>
                
              
                    <% if @admin_mailer_report.errors.any? %>
                      <% @admin_mailer_manager.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    <% end %>

                    <div class="form-group">
                        <%= label_tag "Para:" %><br>
                        <%= radio_button_tag :to_whom, :all, :checked => true  %>
                        <%= label_tag "yes", "Todos os Participantes", :value => "true"  %><br>
                        <%= radio_button_tag :to_whom, :no_itinerary %>
                        <%= label_tag "teste", "Participantes sem data de Chegada", :value => "false" %>
                    </div>

                    <%= form.hidden_field :eventosbahai_id, :value => params[:id] %>
                    
                    <div class="form-group">
                      <%= label_tag "Selecione os participantes:" %><br>
                        <%= collection_check_boxes :event, :participant_ids, @event.participants, :id, :name  %>
                    </div>
                    <!--
                      <div class="form-group">
                        <%= label_tag "Para:" %>
                        <div id="mail_to_div" contenteditable="true" class="form-control mail_to_div expandable-input">
                        </div>
                      </div>
                    -->

                    <div class="form-group">
                      <%= label_tag "Assunto:" %>
                      <%= form.text_field :subject, value:"#{@event.name}", class:'form-control', required: true %>
                    </div>

                    <div class="form-group">
                      <%= label_tag "Mensagem:" %>
                      
                      <div id="admin_mailer_manager_body_div" contenteditable="true" class="form-control admin_mailer_manager_body_div expandable-input" name="admin_mailer_manager[body]"></div>
                      <%= form.hidden_field :body %>
                    </div>

                    <p class="text-muted">
                      Símbolos:<br>
                      <b>|% participante %|</b> (nome do participante, ex: João Paulo)<br>
                      <b>|% link_itinerario %|</b> (link para o itinerário deste usuário)<br>
                      Utilize o "Visualizar" para ver se os símbolos estão funcionado.
                    </p>
                    
                    <div style="text-align: center;">
                        <div id="preview_email_button" class="btn btn-info preview_email_button" >Visualizar</div>
                    </div>

            </div>
        </div>
    </div>

    <div id="visible_preview" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="frame">
              <h1 class="text-center">Visualização</h1>
              
              <div class="form-group">
                <%= label_tag "Ver como:" %>
                <%= select("eventosbahai", "participant_ids", @event.participants.collect {|p| [ p.name, p.id ] }, {class: 'form-control'}) %>
              </div>

              <div class="header">
                <strong>
                  Para: <span id="header_to">email@exemplo.com</span><br>
                  Assunto: <span id="header_subject">Assunto</span>
                </strong>
              </div>

              <div class="border-text">
                <div id="email_preview_div">
              </div>
                
              </div>
              <div style="text-align: center;">
                <%= form.submit "Enviar".html_safe, class:'btn btn-success' %>  
              </div>
            </div>
        </div>
    </div>
<% end %>

<script>

  $("#to_whom_all").change(function() {
    let check = "";
    <% @participants.each do |participant| %>
      check = $("<%= "input#event_participant_ids_#{participant.id}" %>")[0];
      console.log(check.checked = true);
    <% end %>
  });

  $('#to_whom_no_itinerary').change(function(){
  <% @participants.each do |participant| %>
    check = $("<%= "input#event_participant_ids_#{participant.id}" %>")[0];
    console.log(check.checked = false);
  <% end %>

  <% @participants_no_itinerary.each do |participant| %>
    console.log("<%= participant.id %>");
    check = $("<%= "input#event_participant_ids_#{participant.id}" %>")[0];
    console.log(check.checked = true);
  <% end %>

  const text_area = $("#admin_mailer_manager_body_div");
    
const body_text = 
`Olá |% participante %|, como vai? <br><br>
Parece que você ainda não adicionou o seu itinerário no site, para adicionar basta entrar neste link: <br><br>

|% link_itinerario %| <br><br>

Qualquer dúvida mande-nos um E-mail, <br><br>

Atenciosamente,<br>
Secretaria Nacional

`;
    const html = $.parseHTML(body_text);
    text_area.html(body_text);
  });


  $("#preview_email_button").on('click', function(){
    preview();
    
  });


  $('#admin_mailer_manager_body_div').on('input', e => {
    preview();
  });

  function preview(participant_id) {
    if(typeof participant_id === "undefined") {
      participant_id = <%= @one_participant.id %>
    }

    const body = $("#admin_mailer_manager_body_div").html();
    
    console.log("Val Body");
    console.log(body);
    const preview_div = $("#email_preview_div");
    const header_to = $("#header_to");
    const subject = $("#admin_mailer_manager_subject");
    const header_subject = $("#header_subject");
    $.ajax({
      url: 'mailer_participant_preview',
      post: 'GET',
      data: {
             body: body,
             participant_id: participant_id
             }
     }).done(function(result) {
       if(typeof result !== "undefined") {
         console.log("Defined");
         $("#visible_preview").show();
        preview_div.show();
        console.log(result.body);
        preview_div.html(result.body);
        $("#admin_mailer_report_body").val(body);
        header_to.html(result.email);
        header_subject.html(subject.val());
       }
     });
  }

  $("#eventosbahai_participant_ids").on('change', function(e) {
    e.preventDefault();
    const _participant_id = e.currentTarget.value;
    let participant_id = _participant_id;
    preview(participant_id)
  });

</script>



<script>
  $(document).ready(function() {
    $("#visible_preview").hide();
    $(document).on("submit", "form#new_expandable", function(e) {
      e.preventDefault();

      var contents = $(".expandable-input").html();
      $('input#expandable').val(contents);

      preview();
      this.submit();
    });

  });
</script>

<style>
  .expandable-input {
    height: auto;
  }

  .mail_to_div {
    min-height: 18px;
  }

  .admin_mailer_manager_body_div {
    min-height: 150px;
  }

  expandable-input-mail-to {
    min-height: 18px;
    height auto;
  }

  .preview_email_button {
    cursor: pointer;
  }
</style>

<style>
    .hidden {position:absolute;visibility:hidden;opacity:0;}

    input[type=checkbox]:hover  {
      background-color: red;
    }

    input[type=checkbox] {
      position:absolute;visibility:hidden;opacity:0;
    }

  
    input[type=checkbox] + label {
      cursor: pointer;
      color: #4e94a2;
      border: 2px solid #4e94a2;
      border-radius: 3px;
      padding: .2em;
      padding-left: .6em;
      padding-right: .6em;
      margin: 2px;
    } 

    input[type=checkbox]:hover + label {
      border-color: #0c4c6f;
      color:#305a63;
    } 

    input[type=checkbox]:checked + label {
      color: white;
      background-color:  #4e94a2;
    }

  </style>

