  <%= render partial: 'ckeditor_mention' %>
  
  <%= form_for(@admin_mailer_report, html: {method: :post}, remote: true) do |form| %>
    <div class="row"> <!-- Event Presentation -->
        <div class="col-lg-12 col-sm-12">
            <div class="frame">

                <%= link_to admin_mailer_reports_path do %> 
                  <i class="material-icons">
                    arrow_back
                  </i>
                <% end %>
                
                <div class="text-center">— <%= @event.name %> —</div>
                <h1 class="text-center">Novo E-mail</h1>
                
                    <% if @admin_mailer_report.errors.any? %>
                      <% @admin_mailer_manager.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    <% end %>

                    <%= label_tag "Selecionar participantes:" %>
                    <div class="form-group">
                        <select name="to_whom" id="to_whom" class="form-control">
                          <option value="none">Ninguém</option>
                          <option value="all">Todos</option>
                          <option value="no_itinerary">Sem data de chegada</option>
                          <option value="no_answers">Sem repostas às perguntas</option>
                        </select>
                    </div>

                    <%= form.hidden_field :eventosbahai_id, :value => params[:id] %>
                    
                    <div class="form-group">
                        <%= collection_check_boxes :event, :participant_ids, @event.participants, :id, :name, :checked => false  %>
                    </div>

                    <div class="form-group">
                      <%= label_tag "Assunto:" %>
                      <%= form.text_field :subject, value:"#{@event.name}", class:'form-control', required: true %>
                    </div>

                    <div class="form-group">
                      <%= label_tag "Mensagem:" %>
                      
                      <div id="admin_mailer_manager_body_div" class="editable form-control expandable-input admin_mailer_manager_body_div"></div>
                      <%= form.hidden_field :body %>
                    </div>

                    <p class="text-muted">
                      <div class="" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="material-icons icon-info">info</i>
                      </div>
                      <div class="collapse" id="collapseExample">
                        <small>
                          <b>@participante</b>: Nome do participante, ex: João Paulo<br>
                          <b>@link_itinerario</b>: Link para o itinerário deste usuário<br>
                          <b>?pergunta</b>: Faz uma pergunta e dá opções de resposta ao usuário<br>
                          Utilize o "Visualizar" para ver se os símbolos estão funcionado.
                        </small>
                      </div>
                    </p>
                    
                    <div style="text-align: center;">
                        <div id="preview_email_button" class="btn btn-info preview_email_button" >Visualizar</div>
                    </div>
            </div>
        </div>
    </div>

    <div id="visible_preview" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="frame">
              <h1 class="text-center">Visualização</h1>
              
              <div class="form-group">
                <%= label_tag "Ver como:" %>
                <%= select("eventosbahai", "participant_ids", @event.participants.collect {|p| [ p.name, p.id ] }, {}, {class: 'form-control'}) %>
              </div>

              <div class="header">
                <small>
                  Para: <span id="header_to">email@exemplo.com</span><br>
                  Assunto: <span id="header_subject">Assunto</span>
                </small>
              </div><br>

              <div class="border-text">
                <div id="email_preview_div">
              </div>
                
              </div>
              <div style="text-align: center;">
                <%= form.submit "Enviar".html_safe, class:'btn btn-success', data: { confirm: 'Tem certeza que deseja enviar todos estes E-mails?' } %>  
              </div>
            </div>
        </div>
    </div>
<% end %>

<%= render partial: 'style_end_file' %>

<%= render partial: 'javascript_end_file' %>


